.descargable-cont .small-title {
  color: #4080ff;
  border-bottom: 1px solid #4080ff;
}

.descargable-cont .small-title:before {
  background-color: #4080ff;
}

.descargable-cont .descargables {
  margin: 20px;
}

.descargable-cont .descargables .link-descargable {
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.descargable-cont .descargables .link-descargable img {
  margin-bottom: -4px;
}

.descargable-cont .descargables .link-descargable:hover {
  -webkit-box-shadow: 0px 0px 20px -10px black;
          box-shadow: 0px 0px 20px -10px black;
}
