.descargable-cont .small-title {
  color: #4080ff;
  border-bottom: 1px solid #4080ff;
}

.descargable-cont .small-title:before {
  background-color: #4080ff;
}

.descargable-cont .descargables {
  margin: 20px;
}

.descargable-cont .descargables .link-descargable {
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #4080ff;
}

.descargable-cont .descargables .link-descargable .descargable-item img {
  margin-bottom: -4px;
}

.descargable-cont .descargables .link-descargable .descargable-item .desc-title {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 20px);
}

.descargable-cont .descargables .link-descargable .descargable-item .desc-title .small-title {
  width: 75%;
  font-size: 18px;
  min-width: 0;
}

.descargable-cont .descargables .link-descargable .descargable-item .desc-title .icon {
  width: 25%;
  text-align: center;
}

.descargable-cont .descargables .link-descargable .descargable-item .desc-title .icon img {
  width: 50px;
}

.descargable-cont .descargables .link-descargable:hover {
  -webkit-box-shadow: 0px 0px 20px -10px black;
          box-shadow: 0px 0px 20px -10px black;
}
