footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 170px);
  padding: 20px 85px;
  color: #949a9e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer.footer-single {
  position: relative;
  padding: 40px 85px;
  width: calc(100% - 170px);
}

footer .column:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a.footer-logo-link.size-1 img {
  height: 45px;
  margin-right: 27px;
}

footer a.footer-logo-link.size-2 img {
  height: 33px;
}

footer .footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-menu ul li {
  padding: 5px;
}

footer .footer-menu ul li,
footer .footer-menu ul li a {
  font-size: 12px;
  font-family: "Raleway";
  font-weight: normal;
  color: #949a9e;
  text-decoration: none;
}

footer form {
  position: relative;
}

footer form label {
  left: 0;
  padding-left: 10px;
  top: -18px;
  position: absolute;
  font-family: "Raleway";
  font-weight: bold;
  color: black;
  font-size: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer form input[type="text"],
footer form input[type="email"] {
  height: 40px;
  width: 185px;
  border: 1px solid #838383;
  padding: 0px 10px;
  margin: 0px 5px;
}

footer form input[type="submit"],
footer form button[type="submit"] {
  background-color: #ff3040;
  height: 42px;
  width: 42px;
  color: white;
  border: 1px solid #ff3040;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  cursor: pointer;
}

footer form input[type="submit"] img,
footer form button[type="submit"] img {
  width: 10px;
}

footer form input[type="submit"]:hover,
footer form button[type="submit"]:hover {
  background: #4080ff;
  border-color: #4080ff;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  footer {
    padding: 20px 25px;
    width: calc(100% - 50px);
  }
  footer form input[type="text"],
  footer form input[type="email"] {
    width: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    padding: 20px 15px;
    width: calc(100% - 30px);
  }
  footer form {
    display: none !important;
  }
  footer .footer-menu li,
  footer .footer-menu li a {
    font-size: 11px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  footer {
    padding: 20px 20px;
    width: calc(100% - 40px);
    position: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer form input[type="text"],
  footer form input[type="email"] {
    width: 100%;
  }
  footer .column {
    width: auto;
  }
  footer .column:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0 30px 0;
  }
  footer .footer-menu li {
    padding: 2px;
    text-align: center;
  }
}
/*# sourceMappingURL=footer.css.map */