@charset "UTF-8";
.blog-ver-mas {
  font-family: "Georgia";
  font-size: 14px;
  border: 1px solid #f16418;
  color: #fff;
  background-color: #f16418;
  padding: 7px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.blog-ver-mas:hover {
  background-color: white;
  color: #f16418;
}

#programa {
  position: relative;
  min-height: 700px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#programa #casos-de-exito {
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#programa #casos-de-exito.move {
  left: -100% !important;
}

#programa #programas {
  height: 100%;
  position: absolute;
  left: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#programa #programas.move {
  left: 0 !important;
}

#menos {
  position: absolute;
  bottom: 50px;
  z-index: 999;
  font-family: "Raleway";
  font-size: 12px;
  border-color: #4080ff;
  color: white;
  background-color: #4080ff;
  padding: 7px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}

#menos:hover {
  border-color: #4080ff;
  background-color: white;
  color: #4080ff;
}

#mas {
  position: absolute;
  bottom: 50px;
  z-index: 999;
  font-family: "Raleway";
  font-size: 12px;
  border-color: white;
  color: #4080ff;
  background-color: white;
  padding: 7px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  outline: none;
  cursor: pointer;
}

#mas:hover {
  border-color: white;
  background-color: #4080ff;
  color: white;
}

body,
html {
  padding: 0;
  margin: 0 !important;
  scroll-behavior: smooth;
}

html {
  margin-top: 0 !important;
}

body {
  position: relative;
  font-family: Arial;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.vertical-top {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.horizontal-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.horizontal-space {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.color-pink {
  color: #EF6418;
}

.desc {
  font-family: "Arial";
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
}

.title-slider {
  font-size: 45px;
  color: white;
  margin-top: 10px;
  min-width: 290px;
  padding: 10px;
  font-family: "Georgia";
  font-weight: 900;
  background-color: #f16418;
  display: inline-block;
  position: relative;
}

.title-no-border {
  font-size: 26px;
  color: white;
  width: 67%;
  margin: 0 auto;
  padding: 30px 0px;
  font-family: "Georgia";
  text-align: center;
  display: inline-block;
  position: relative;
}

.title-no-border .subtitulo {
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 60px;
  text-shadow: 0px 0px 7px #666;
}

.title-no-border span {
  text-shadow: 0px 0px 7px #666;
}

.title-no-border a.btn-video {
  z-index: 9;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Arial";
  text-shadow: 0px 0px 7px #666;
}

.title-no-border a.btn-video img {
  width: 58px;
  height: auto;
  margin-right: 15px;
}

.title-no-border a.btn-video:hover {
  opacity: .7;
}

.title-no-border a.btn-link {
  z-index: 9;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Arial";
  background: #EF6418;
  padding: 15px 40px;
  border-radius: 0 0 25px 25px;
  margin-top: 20px;
}

.title-no-border a.btn-link:hover {
  color: #EF6418;
  background: white;
}

div.title {
  font-size: 45px;
  color: #838383;
  min-width: 290px;
  padding: 30px 0px;
  font-family: "Georgia";
  font-weight: 900;
  display: inline-block;
  border-bottom: 1px solid #838383;
  position: relative;
}

div.title:before {
  content: "";
  bottom: -1px;
  width: 80px;
  height: 2px;
  position: absolute;
  background-color: #838383;
}

.small-title {
  font-size: 24px;
  color: #597FF8;
  min-width: 290px;
  padding: 10px 0px;
  font-family: Georgia;
  display: inline-block;
  position: relative;
}

.small-title.white {
  color: white;
}

.small-title:before {
  /*
        content: "";
        bottom: -1px;
        width: 80px;
        height: 2px;
        position: absolute;
        background-color: #838383;
        */
}

.small-title-slider {
  font-size: 16px;
  color: white;
  min-width: 290px;
  padding: 10px 0px;
  font-family: "Georgia";
  font-weight: 900;
  display: inline-block;
  position: relative;
  /*
    &:before {
        content: "";
        bottom: -1px;
        width: 80px;
        height: 2px;
        position: absolute;
        background-color: white;
    }
    */
}

.row-container {
  padding: 0px 85px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  width: calc(100% - 170px);
}

.row-container .colmn {
  width: 50%;
}

.row-container .content {
  width: 100%;
  padding: 50px 0;
}

.row-container.search-page {
  padding-top: 130px;
}

.row-container-fluid {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}

#quepodemos .content > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid {
  margin: 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid .colmn {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  width: calc(46% - 20px);
  border: 1px solid #597FF8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 30px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .colmn .column-img {
  height: 65px;
  -webkit-filter: contrast(0.1);
          filter: contrast(0.1);
  width: auto;
}

.grid .colmn .column-img-hover {
  height: 65px;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid .colmn .div-img {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.grid .colmn .div-img .cont-imgs {
  position: relative;
}

.grid .colmn .div-desc {
  width: 70%;
}

.grid .colmn .column-title {
  color: #06326B;
  font-family: Georgia;
  font-weight: 900;
  font-size: 12px;
  margin: 0;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid .colmn .column-desc {
  color: #597FF8;
  padding: 0 10px;
  font-family: Arial;
  font-size: 13px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid .colmn:hover {
  border: 1px solid #f16418;
  background-color: #f16418;
}

.grid .colmn:hover .column-img {
  opacity: 0;
}

.grid .colmn:hover .column-img-hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grid .colmn:hover .column-title,
.grid .colmn:hover .column-desc {
  color: white;
}

/* Programas */
#programas .content p.desc {
  font-size: 16px;
  color: #838383;
  font-family: "Raleway";
  margin-top: 25px;
}

#programas .content p.desc span {
  font-weight: 900;
}

#programas .content p.mark {
  font-size: 22px;
  color: #838383;
  font-family: "Raleway";
  font-weight: 900;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid #b6b5b6;
  margin-bottom: 10px;
}

#programas .content .dec {
  width: 65px;
  height: 2px;
  background: #838383;
  margin-top: 25px;
}

#programas .content .columns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#programas .content .columns-container .colmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
}

#programas .content .columns-container .colmn#antes {
  width: 60%;
  color: #08225c;
}

#programas .content .columns-container .colmn#antes .top-text {
  border-color: #8eb0f8;
}

#programas .content .columns-container .colmn#durante {
  width: 20%;
  color: #8eb0f8;
}

#programas .content .columns-container .colmn#durante .top-text {
  border-color: #a4a4a4;
}

#programas .content .columns-container .colmn#despues {
  width: 20%;
  color: #a4a4a4;
}

#programas .content .columns-container .colmn#despues .top-text {
  border-color: #a4a4a4;
}

#programas .content .columns-container .colmn .top-text {
  text-align: center;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#programas .content .columns-container .colmn .item .info {
  position: relative;
}

#programas .content .columns-container .colmn .item .info img {
  width: 100%;
}

#programas .content .columns-container .colmn .item .info .cont-items {
  position: absolute;
  width: 50%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#programas .content .columns-container .colmn .item .info .cont-items img {
  height: 50px;
  width: auto;
}

#programas .content .columns-container .colmn .item .info .cont-items p {
  font-size: 12px;
  font-family: "Raleway";
  margin: 0;
  margin-top: 5px;
}

#contacto .redes a {
  text-decoration: none;
}

#contacto .redes a img {
  height: 27px;
  width: auto;
  margin-right: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#contacto .redes a img:hover {
  opacity: .7;
}

#contacto .content .hbspt-form {
  width: 100%;
  height: auto;
}

#contacto .content .hbspt-form iframe {
  width: 100% !important;
}

.form-contact {
  max-width: 600px;
  width: 90%;
}

.form-contact .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-contact .form-row:last-child {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.form-contact .form-row input {
  font-family: "Raleway";
  font-weight: normal;
  width: 100%;
  font-size: 14px;
  height: 50px;
  padding: 0px 15px;
  color: #606060;
  border: 2px solid #4080ff;
}

.form-contact .form-row input.i-50 {
  width: calc(48% - 30px);
}

.form-contact .form-row input::-webkit-input-placeholder,
.form-contact .form-row textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  color: rgba(64, 128, 255, 0.7);
}

.form-contact .form-row input:-ms-input-placeholder,
.form-contact .form-row textarea:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  color: rgba(64, 128, 255, 0.7);
}

.form-contact .form-row input::-ms-input-placeholder,
.form-contact .form-row textarea::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  color: rgba(64, 128, 255, 0.7);
}

.form-contact .form-row input::placeholder,
.form-contact .form-row textarea::placeholder {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  color: rgba(64, 128, 255, 0.7);
}

.form-contact .form-row textarea {
  color: #606060;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  width: 100%;
  border: 2px solid #4080ff;
  padding: 15px;
}

.form-contact .form-row input[type="submit"] {
  font-family: "Raleway";
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
  width: auto;
  border-color: #f16418;
  color: white;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #f16418;
  padding: 0px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.form-contact .form-row input[type="submit"]:hover {
  color: #f16418;
  background-color: #fff;
}

.suscribete {
  position: relative;
  top: 10px;
}

.suscribete form {
  position: relative;
}

.suscribete form label {
  font-family: "Raleway";
  font-weight: bold;
  color: black;
  font-size: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
}

.suscribete form input[type="text"],
.suscribete form input[type="email"] {
  height: 40px;
  border: 1px solid #838383;
  padding: 0px 10px;
  margin: 0px 5px;
  width: 185px;
}

.suscribete form input[type="submit"],
.suscribete form button[type="submit"] {
  background-color: #f16418;
  height: 42px;
  width: 42px;
  color: white;
  border: 2px solid #f16418;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}

.suscribete form input[type="submit"] img,
.suscribete form button[type="submit"] img {
  width: 10px;
  position: relative;
  top: -5px;
}

.suscribete form input[type="submit"]:hover,
.suscribete form button[type="submit"]:hover {
  background: #4080ff;
  border-color: #4080ff;
}

.contenedor-general-banner {
  background-image: url(../img/amc-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 0;
}

.contenedor-general-banner .cont-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 0 auto;
}

.contenedor-general-banner .cont-banner .info {
  width: 70%;
}

.contenedor-general-banner .cont-banner .info p {
  color: white;
  font-family: Arial;
  font-size: 19px;
  line-height: 28px;
  margin-top: 0;
}

.contenedor-general-banner .cont-banner .info a {
  color: white;
  font-family: Arial;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 15px 40px;
  background: transparent;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-banner .cont-banner .info a:hover {
  background: white;
  color: #06326B;
}

.contenedor-general-banner .cont-banner .img {
  width: 30%;
}

.contenedor-general-banner .cont-banner .img img {
  width: 160px;
  display: block;
  margin: 0 auto;
}

.cont-tit {
  width: 59%;
  text-align: center;
  margin: 0 auto;
}

.contenedor-general-testimonios {
  margin-top: 60px;
}

.contenedor-general-testimonios .contenedor-testimonios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedor-general-testimonios .contenedor-testimonios .cont-testimonio {
  width: 27%;
}

.contenedor-general-testimonios .contenedor-testimonios .cont-testimonio .img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 2px solid #597FF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contenedor-general-testimonios .contenedor-testimonios .cont-testimonio .img img {
  width: 60%;
}

.contenedor-general-testimonios .contenedor-testimonios .cont-testimonio .testimonio p {
  color: #B0B0B0;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}

.contenedor-general-beneficios {
  margin-top: 60px;
}

.contenedor-general-beneficios .contenedor-beneficios {
  width: 80%;
  margin: 0 auto;
}

.contenedor-general-beneficios .contenedor-beneficios p {
  color: #808080;
  font-family: Georgia;
  font-size: 17px;
  font-weight: bold;
}

.contenedor-general-beneficios .contenedor-beneficios ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.contenedor-general-beneficios .contenedor-beneficios ul li {
  color: #808080;
  font-family: Georgia;
  font-size: 17px;
  font-weight: bold;
  width: 40%;
  padding: 20px 0;
  padding-left: 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-beneficios .contenedor-beneficios ul li::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url(../img/dot-list.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contenedor-general-casos {
  margin-top: 20px;
}

.contenedor-general-casos .contenedor-casos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 97%;
  margin: 0 auto;
}

.contenedor-general-casos .contenedor-casos .swiper-wrapper {
  height: auto !important;
}

.contenedor-general-casos .contenedor-casos .cont-caso {
  width: 100%;
}

.contenedor-general-casos .contenedor-casos .cont-caso .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor-general-casos .contenedor-casos .cont-caso .img img {
  width: 100%;
  display: block;
  visibility: hidden;
}

.contenedor-general-casos .contenedor-casos .cont-caso .info {
  padding: 20px;
  background: white;
  height: 230px;
}

.contenedor-general-casos .contenedor-casos .cont-caso .info p {
  color: #808080;
  font-family: Arial;
  font-size: 14px;
}

.contenedor-general-casos .contenedor-casos .cont-caso .info p strong {
  color: #597FF8;
}

/*
@media screen and (min-width: 991px) {
    .vertical-top {
        padding-top: 140px !important;
    }
}
*/
@media screen and (min-width: 1750px) {
  div.title {
    font-size: 55px;
  }
  .small-title-slider {
    font-size: 22px;
  }
  .small-title {
    font-size: 28px;
  }
  .desc {
    font-size: 24px;
  }
  .title-slider {
    font-size: 55px;
  }
  .title-no-border {
    font-size: 30px;
  }
  .title-no-border .subtitulo {
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 90px;
  }
  .title-no-border a.btn-video {
    font-size: 21px;
  }
  .title-no-border a.btn-link {
    font-size: 17px;
    margin-top: 40px;
  }
  /* Programas */
  #programas .content p.mark {
    font-size: 14px;
  }
  #programas .content .columns-container .colmn .item .info .cont-items {
    width: 45%;
  }
  #programas .content .columns-container .colmn .item .info .cont-items img {
    height: 75px;
    width: auto;
  }
  #programas .content .columns-container .colmn .item .info .cont-items p {
    font-size: 15px;
  }
  /* ¿Que podemos hacer por ti */
  .grid {
    max-width: 1750px;
    margin: 0 auto;
  }
  .grid .colmn .column-title {
    font-size: 15px;
  }
  .grid .colmn .column-img {
    height: 85px;
  }
  .grid .colmn .column-img-hover {
    height: 85px;
  }
  .grid .colmn .column-desc {
    font-size: 16px;
  }
  .contenedor-general-banner .cont-banner .info p {
    font-size: 22px;
    line-height: 31px;
  }
  .contenedor-general-banner .cont-banner .info a {
    font-size: 17px;
  }
  .contenedor-general-banner .cont-banner .img img {
    width: 225px;
  }
  .contenedor-general-testimonios .contenedor-testimonios .cont-testimonio .testimonio p {
    font-size: 17px;
  }
  .contenedor-general-beneficios .contenedor-beneficios p {
    font-size: 20px;
  }
  .contenedor-general-beneficios .contenedor-beneficios ul li {
    font-size: 20px;
  }
  .contenedor-general-casos .contenedor-casos .cont-caso .info {
    height: 282px;
    padding: 30px;
  }
  .contenedor-general-casos .contenedor-casos .cont-caso .info p {
    font-size: 17px;
  }
  #contacto .redes a img {
    height: 37px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .row-container {
    padding: 0px 25px;
    width: calc(100% - 50px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .row-container {
    padding: 0px 15px;
    width: calc(100% - 30px);
  }
  .grid .colmn {
    min-width: 200px;
    margin: 20px 10px;
  }
  /* Contact */
  .contenedor-general-contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-contacto .content .title {
    margin: 0 auto;
    display: table;
  }
  .contenedor-general-contacto .colmn {
    width: 90%;
    margin: 0 auto;
  }
  .contenedor-general-contacto p.desc {
    text-align: center;
  }
  .contenedor-general-contacto .redes {
    text-align: center;
  }
  .form-contact .form-row input {
    height: 40px;
  }
  /* Programas */
  #programas .content > .columns-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #programas .content > .columns-container .colmn#antes {
    width: calc(100% - 20px);
  }
  #programas .content > .columns-container .colmn#antes .columns-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #programas .content > .columns-container .colmn#antes .columns-container .column {
    width: 25%;
  }
  #programas .content > .columns-container .colmn#durante {
    width: calc(25% - 10px);
  }
  #programas .content > .columns-container .colmn#despues {
    width: calc(25% - 10px);
  }
  .contenedor-general-beneficios .contenedor-beneficios {
    width: 90%;
  }
  .contenedor-general-casos .contenedor-casos .cont-caso .info {
    height: 324px;
  }
}

@media screen and (max-width: 767px) {
  .row-container {
    padding: 60px 20px;
    width: calc(100% - 40px);
    height: auto;
  }
  .row-container-fluid {
    height: auto;
  }
  .title-slider {
    font-size: 35px !important;
    min-width: unset !important;
  }
  .title-no-border {
    font-size: 22px;
    width: 100%;
  }
  .title-no-border .subtitulo {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .title-no-border a.btn-video {
    font-size: 15px;
  }
  .title-no-border a.btn-video img {
    width: 45px;
  }
  .title-no-border a.btn-link {
    font-size: 12px;
  }
  /* Contact */
  .contenedor-general-contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-contacto .colmn {
    width: 100%;
  }
  .form-contact {
    width: 100%;
  }
  .form-contact .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-contact .form-row input {
    height: 40px;
    width: auto;
  }
  .form-contact .form-row input.i-50 {
    width: auto;
  }
  .form-contact .form-row input.i-50:nth-child(2) {
    margin-top: 15px;
  }
  .form-contact .form-row textarea {
    width: auto;
  }
  /* Programas */
  #mas {
    width: calc(100% - 40px);
  }
  #programa {
    min-height: 1475px;
  }
  #programa #casos-de-exito {
    height: calc(100% - 120px);
  }
  #programa #programas {
    height: calc(100% - 120px);
  }
  #programas .content p.desc {
    font-size: 15px;
  }
  #programas .content > .columns-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 280px;
    margin: 0 auto;
  }
  #programas .content > .columns-container .colmn#antes {
    width: calc(100% - 20px);
  }
  #programas .content > .columns-container .colmn#antes .columns-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #programas .content > .columns-container .colmn#antes .columns-container .column {
    width: 65%;
  }
  #programas .content > .columns-container .colmn#durante {
    width: calc(100% - 20px);
  }
  #programas .content > .columns-container .colmn#durante .item {
    max-width: 170px;
    margin: 0 auto;
  }
  #programas .content > .columns-container .colmn#despues {
    width: calc(100% - 20px);
  }
  #programas .content > .columns-container .colmn#despues .item {
    max-width: 170px;
    margin: 0 auto;
  }
  #programas .content .mark {
    width: 100% !important;
  }
  #quepodemos .content > div:nth-child(1) {
    text-align: center;
  }
  /* ¿Que podemos hacer por ti */
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid .colmn {
    padding: 30px;
    width: calc(100% - 60px);
    margin: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid .colmn .div-img {
    width: 100%;
  }
  .grid .colmn .div-desc {
    width: 100%;
  }
  .contenedor-general-banner {
    padding: 40px 0;
  }
  .contenedor-general-banner .cont-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-banner .cont-banner .info {
    width: 100%;
  }
  .contenedor-general-banner .cont-banner .info p {
    font-size: 17px;
    line-height: 24px;
  }
  .contenedor-general-banner .cont-banner .info a {
    font-size: 12px;
  }
  .contenedor-general-banner .cont-banner .img {
    width: 100%;
    margin-top: 30px;
  }
  .contenedor-general-banner .cont-banner .img img {
    width: 220px;
  }
  .cont-tit {
    width: 100%;
  }
  .contenedor-general-testimonios {
    margin-top: 0;
    padding-bottom: 0 !important;
  }
  .contenedor-general-testimonios .contenedor-testimonios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-testimonios .contenedor-testimonios .cont-testimonio {
    width: 100%;
    margin-top: 25px;
  }
  .contenedor-general-beneficios .contenedor-beneficios {
    width: 100%;
  }
  .contenedor-general-beneficios .contenedor-beneficios ul li {
    width: 100%;
  }
  .contenedor-general-casos {
    margin-top: 0;
  }
  .contenedor-general-casos .contenedor-casos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contenedor-general-casos .contenedor-casos .cont-caso {
    width: 100%;
    margin-top: 40px;
  }
  .contenedor-general-casos .contenedor-casos .cont-caso .info {
    height: 356px;
  }
}
