@charset "UTF-8";
.blog-ver-mas {
  font-family: "Raleway";
  font-size: 14px;
  border: 1px solid #f16418;
  color: #fff;
  background-color: #f16418;
  padding: 7px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.blog-ver-mas:hover {
  background-color: white;
  color: #f16418;
}

#programa {
  position: relative;
  min-height: 700px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#programa #casos-de-exito {
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#programa #casos-de-exito.move {
  left: -100% !important;
}

#programa #programas {
  height: 100%;
  position: absolute;
  left: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#programa #programas.move {
  left: 0 !important;
}

#menos {
  position: absolute;
  bottom: 50px;
  z-index: 999;
  font-family: "Raleway";
  font-size: 12px;
  border-color: #4080ff;
  color: white;
  background-color: #4080ff;
  padding: 7px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}

#menos:hover {
  border-color: #4080ff;
  background-color: white;
  color: #4080ff;
}

#mas {
  position: absolute;
  bottom: 50px;
  z-index: 999;
  font-family: "Raleway";
  font-size: 12px;
  border-color: white;
  color: #4080ff;
  background-color: white;
  padding: 7px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  outline: none;
  cursor: pointer;
}

#mas:hover {
  border-color: white;
  background-color: #4080ff;
  color: white;
}

body,
html {
  padding: 0;
  margin: 0 !important;
  scroll-behavior: smooth;
}

html {
  margin-top: 0 !important;
}

body {
  position: relative;
  font-family: "Raleway";
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.vertical-top {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.horizontal-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.horizontal-space {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.color-pink {
  color: #f16418;
}

.desc {
  font-family: "Raleway";
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
}

.title-slider {
  font-size: 45px;
  color: white;
  margin-top: 10px;
  min-width: 290px;
  padding: 10px;
  font-family: "Raleway";
  font-weight: 900;
  background-color: #f16418;
  display: inline-block;
  position: relative;
}

.title-no-border {
  font-size: 45px;
  color: white;
  min-width: 290px;
  padding: 30px 0px;
  font-family: "Raleway";
  font-weight: 900;
  display: inline-block;
  position: relative;
}

div.title {
  font-size: 45px;
  color: #838383;
  min-width: 290px;
  padding: 30px 0px;
  font-family: "Raleway";
  font-weight: 900;
  display: inline-block;
  border-bottom: 1px solid #838383;
  position: relative;
}

div.title:before {
  content: "";
  bottom: -1px;
  width: 80px;
  height: 2px;
  position: absolute;
  background-color: #838383;
}

.small-title {
  font-size: 16px;
  color: #838383;
  min-width: 290px;
  padding: 10px 0px;
  font-family: "Raleway";
  font-weight: 900;
  display: inline-block;
  border-bottom: 1px solid #838383;
  position: relative;
}

.small-title:before {
  content: "";
  bottom: -1px;
  width: 80px;
  height: 2px;
  position: absolute;
  background-color: #838383;
}

.small-title-slider {
  font-size: 16px;
  color: white;
  min-width: 290px;
  padding: 10px 0px;
  font-family: "Raleway";
  font-weight: 900;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}

.small-title-slider:before {
  content: "";
  bottom: -1px;
  width: 80px;
  height: 2px;
  position: absolute;
  background-color: white;
}

.row-container {
  padding: 0px 85px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  width: calc(100% - 170px);
}

.row-container .colmn {
  width: 50%;
}

.row-container .content {
  width: 100%;
}

.row-container.search-page {
  padding-top: 130px;
}

.row-container-fluid {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}

#quepodemos .content > div:nth-child(1) {
  margin-top: 70px;
}

.grid {
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid .colmn {
  background-color: rgba(255, 255, 255, 0.5);
  height: 300px;
  width: calc(19% - 20px);
  border: 1px solid #4080ff;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 30px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid .colmn .column-img {
  height: 70px;
  -webkit-filter: contrast(0.6);
          filter: contrast(0.6);
  width: auto;
}

.grid .colmn .column-img-hover {
  height: 70px;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.grid .colmn .div-img {
  position: relative;
}

.grid .colmn .column-title {
  color: #4080ff;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 14px;
  margin: 20px 0px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.grid .colmn .column-desc {
  color: #b6b5b6;
  font-family: "Raleway";
  font-size: 12px;
  height: 80px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.grid .colmn:hover {
  border: 1px solid #f16418;
  background-color: #f16418;
}

.grid .colmn:hover .column-img {
  opacity: 0;
}

.grid .colmn:hover .column-img-hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grid .colmn:hover .column-title,
.grid .colmn:hover .column-desc {
  color: white;
}

/* Programas */
#programas .content p.desc {
  font-size: 16px;
  color: #838383;
  font-family: "Raleway";
  margin-top: 25px;
}

#programas .content p.desc span {
  font-weight: 900;
}

#programas .content p.mark {
  font-size: 22px;
  color: #838383;
  font-family: "Raleway";
  font-weight: 900;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid #b6b5b6;
  margin-bottom: 10px;
}

#programas .content .dec {
  width: 65px;
  height: 2px;
  background: #838383;
  margin-top: 25px;
}

#programas .content .columns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#programas .content .columns-container .colmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
}

#programas .content .columns-container .colmn#antes {
  width: 60%;
  color: #08225c;
}

#programas .content .columns-container .colmn#antes .top-text {
  border-color: #8eb0f8;
}

#programas .content .columns-container .colmn#durante {
  width: 20%;
  color: #8eb0f8;
}

#programas .content .columns-container .colmn#durante .top-text {
  border-color: #a4a4a4;
}

#programas .content .columns-container .colmn#despues {
  width: 20%;
  color: #a4a4a4;
}

#programas .content .columns-container .colmn#despues .top-text {
  border-color: #a4a4a4;
}

#programas .content .columns-container .colmn .top-text {
  text-align: center;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#programas .content .columns-container .colmn .item .info {
  position: relative;
}

#programas .content .columns-container .colmn .item .info img {
  width: 100%;
}

#programas .content .columns-container .colmn .item .info .cont-items {
  position: absolute;
  width: 50%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#programas .content .columns-container .colmn .item .info .cont-items img {
  height: 50px;
  width: auto;
}

#programas .content .columns-container .colmn .item .info .cont-items p {
  font-size: 12px;
  font-family: "Raleway";
  margin: 0;
  margin-top: 5px;
}

.form-contact {
  max-width: 600px;
  width: 90%;
}

.form-contact .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-contact .form-row:last-child {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.form-contact .form-row input {
  font-family: "Raleway";
  font-weight: normal;
  width: 100%;
  font-size: 14px;
  height: 50px;
  padding: 0px 15px;
  color: #606060;
  border: 2px solid #4080ff;
}

.form-contact .form-row input.i-50 {
  width: calc(48% - 30px);
}

.form-contact .form-row input::-webkit-input-placeholder,
.form-contact .form-row textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  color: rgba(64, 128, 255, 0.7);
}

.form-contact .form-row input:-ms-input-placeholder,
.form-contact .form-row textarea:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  color: rgba(64, 128, 255, 0.7);
}

.form-contact .form-row input::-ms-input-placeholder,
.form-contact .form-row textarea::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  color: rgba(64, 128, 255, 0.7);
}

.form-contact .form-row input::placeholder,
.form-contact .form-row textarea::placeholder {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  color: rgba(64, 128, 255, 0.7);
}

.form-contact .form-row textarea {
  color: #606060;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: normal;
  width: 100%;
  border: 2px solid #4080ff;
  padding: 15px;
}

.form-contact .form-row input[type="submit"] {
  font-family: "Raleway";
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
  width: auto;
  border-color: #f16418;
  color: white;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #f16418;
  padding: 0px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.form-contact .form-row input[type="submit"]:hover {
  color: #f16418;
  background-color: #fff;
}

.suscribete {
  position: relative;
  top: 10px;
}

.suscribete form {
  position: relative;
}

.suscribete form label {
  font-family: "Raleway";
  font-weight: bold;
  color: black;
  font-size: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
}

.suscribete form input[type="text"],
.suscribete form input[type="email"] {
  height: 40px;
  border: 1px solid #838383;
  padding: 0px 10px;
  margin: 0px 5px;
  width: 185px;
}

.suscribete form input[type="submit"],
.suscribete form button[type="submit"] {
  background-color: #f16418;
  height: 42px;
  width: 42px;
  color: white;
  border: 2px solid #f16418;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}

.suscribete form input[type="submit"] img,
.suscribete form button[type="submit"] img {
  width: 10px;
  position: relative;
  top: -5px;
}

.suscribete form input[type="submit"]:hover,
.suscribete form button[type="submit"]:hover {
  background: #4080ff;
  border-color: #4080ff;
}

/*
@media screen and (min-width: 991px) {
    .vertical-top {
        padding-top: 140px !important;
    }
}
*/
@media screen and (min-width: 1750px) {
  div.title {
    font-size: 55px;
  }
  .small-title-slider {
    font-size: 22px;
  }
  .small-title {
    font-size: 22px;
  }
  .desc {
    font-size: 24px;
  }
  .title-slider {
    font-size: 55px;
  }
  .title-no-border {
    font-size: 55px;
  }
  /* Programas */
  #programas .content p.mark {
    font-size: 14px;
  }
  #programas .content .columns-container .colmn .item .info .cont-items {
    width: 45%;
  }
  #programas .content .columns-container .colmn .item .info .cont-items img {
    height: 75px;
    width: auto;
  }
  #programas .content .columns-container .colmn .item .info .cont-items p {
    font-size: 15px;
  }
  /* ¿Que podemos hacer por ti */
  .grid .colmn {
    width: calc(16% - 60px);
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .row-container {
    padding: 0px 25px;
    width: calc(100% - 50px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .row-container {
    padding: 0px 15px;
    width: calc(100% - 30px);
  }
  /* Contact */
  .form-contact .form-row input {
    height: 40px;
  }
  /* Programas */
  #programas .content > .columns-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #programas .content > .columns-container .colmn#antes {
    width: calc(100% - 20px);
  }
  #programas .content > .columns-container .colmn#antes .columns-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #programas .content > .columns-container .colmn#antes .columns-container .column {
    width: 25%;
  }
  #programas .content > .columns-container .colmn#durante {
    width: calc(25% - 10px);
  }
  #programas .content > .columns-container .colmn#despues {
    width: calc(25% - 10px);
  }
}

@media screen and (max-width: 767px) {
  .row-container {
    padding: 60px 20px;
    width: calc(100% - 40px);
    height: auto;
  }
  .row-container-fluid {
    height: auto;
  }
  .title-slider {
    font-size: 35px !important;
    min-width: unset !important;
  }
  .title-no-border {
    font-size: 35px;
    min-width: unset;
  }
  .title-no-border br {
    display: none;
  }
  /* Contact */
  .contenedor-general-contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-contacto .colmn {
    width: 100%;
  }
  .contenedor-general-contacto p.desc {
    text-align: center;
  }
  .form-contact {
    width: 100%;
  }
  .form-contact .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-contact .form-row input {
    height: 40px;
    width: auto;
  }
  .form-contact .form-row input.i-50 {
    width: auto;
  }
  .form-contact .form-row input.i-50:nth-child(2) {
    margin-top: 15px;
  }
  .form-contact .form-row textarea {
    width: auto;
  }
  /* Programas */
  #mas {
    width: calc(100% - 40px);
  }
  #programa {
    min-height: 1475px;
  }
  #programa #casos-de-exito {
    height: calc(100% - 120px);
  }
  #programa #programas {
    height: calc(100% - 120px);
  }
  #programas .content p.desc {
    font-size: 15px;
  }
  #programas .content > .columns-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 280px;
    margin: 0 auto;
  }
  #programas .content > .columns-container .colmn#antes {
    width: calc(100% - 20px);
  }
  #programas .content > .columns-container .colmn#antes .columns-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #programas .content > .columns-container .colmn#antes .columns-container .column {
    width: 65%;
  }
  #programas .content > .columns-container .colmn#durante {
    width: calc(100% - 20px);
  }
  #programas .content > .columns-container .colmn#durante .item {
    max-width: 170px;
    margin: 0 auto;
  }
  #programas .content > .columns-container .colmn#despues {
    width: calc(100% - 20px);
  }
  #programas .content > .columns-container .colmn#despues .item {
    max-width: 170px;
    margin: 0 auto;
  }
  #programas .content .mark {
    width: 100% !important;
  }
  /* ¿Que podemos hacer por ti */
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid .colmn {
    height: 300px;
    width: calc(100% - 20px);
    margin: 20px 0;
  }
}
/*# sourceMappingURL=global.css.map */