@media screen and (max-width: 990px) {
  header {
    position: fixed;
    background-color: #4080ff;
    padding: 15px 10px;
    width: calc(100% - 20px);
    z-index: 1000;
  }
  header .button-mobile {
    display: inline-block;
    text-align: right;
    cursor: pointer;
  }
  header .button-mobile i {
    color: white;
    font-size: 28px;
    cursor: pointer;
  }
  header .dec-logo {
    float: right;
    position: relative;
    top: 2px;
  }
  header .dec-logo img {
    width: 25px;
    height: 25px;
  }
  header .content-header {
    position: absolute;
    left: -100%;
    background-color: #4080ff;
    height: calc(100vh - 38px);
    z-index: 10;
    top: 58px;
    width: calc(100%);
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: table-cell;
    vertical-align: middle;
  }
  header .content-header.active {
    left: 0;
  }
  header .content-header a.brand {
    display: block;
    text-align: center;
  }
  header .content-header a.brand img.logo-header {
    opacity: 0;
    position: absolute;
    width: 100px;
    margin: 20px 0px;
  }
  header .content-header a.brand img.logo-header-white {
    text-align: center;
    width: 100px;
    opacity: 1;
    top: 0;
    left: 0;
    margin: 20px 0px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header .content-header .nav-menu > ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 60%;
    text-align: center;
  }
  header .content-header .nav-menu > ul > li {
    padding: 10px 0px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header .content-header .nav-menu > ul > li,
  header .content-header .nav-menu > ul > li a {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 18px;
  }
  header .content-header .nav-menu > ul > li ul {
    list-style: none;
  }
  header .content-header .nav-menu > ul > li ul li {
    padding: 5px;
  }
  header .content-header .nav-menu > ul > li ul li a {
    font-size: 16px;
  }
  header .content-header .search-container {
    position: relative;
    display: inline-block;
  }
  header .content-header .search-container .main-form-search input[type="text"] {
    background: transparent;
    border: none;
    padding: 5px 10px;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    outline: none;
    height: 40px;
    font-size: 18px;
  }
  header .content-header .search-container i {
    position: absolute;
    color: white;
    left: -25px;
    top: 30px;
    font-size: 20px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
}

@media screen and (min-width: 991px) {
  header {
    position: relative;
    z-index: 1000;
  }
  header .button-mobile {
    display: none;
  }
  header .dec-logo {
    display: none;
  }
  header .content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 35px;
    position: fixed;
    z-index: 10;
    width: calc(100% - 70px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .content-header a.brand {
    position: relative;
  }
  header .content-header a.brand img.logo-header {
    opacity: 0;
    width: 50px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header .content-header a.brand img.logo-header-white {
    width: 50px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  header .content-header.min-header {
    width: calc(100% - 50px);
    padding: 10px 25px;
  }
  header .content-header.min-header a.brand img {
    width: 40px;
  }
  header .content-header .nav-menu > ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header .content-header .nav-menu > ul li {
    padding: 10px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    position: relative;
  }
  header .content-header .nav-menu > ul li,
  header .content-header .nav-menu > ul li a {
    text-decoration: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
  }
  header .content-header .nav-menu > ul li ul {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    width: 150px;
    left: 0;
    padding: 0;
    margin: 0;
    background: #4080ff;
    color: white;
    list-style: none;
  }
  header .content-header .nav-menu > ul li:hover > ul {
    display: block;
  }
  header .content-header .search-container {
    position: relative;
  }
  header .content-header .search-container .main-form-search input[type="text"] {
    background: transparent;
    border: none;
    padding: 5px 10px;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    outline: none;
  }
  header .content-header .search-container i {
    position: absolute;
    top: 5px;
    left: -30px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header.light .content-header a.brand img.logo-header {
    opacity: 0;
  }
  header.light .content-header a.brand img.logo-header-white {
    opacity: 1;
  }
  header.light .content-header.min-header {
    background-color: #4080ff;
  }
  header.light .content-header .search-container .main-form-search input[type="text"] {
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  }
  header.light .content-header .search-container i {
    color: white;
  }
  header.light .content-header .nav-menu > ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
  header.light .content-header .nav-menu > ul > li {
    padding: 10px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header.light .content-header .nav-menu > ul > li,
  header.light .content-header .nav-menu > ul > li a {
    color: white;
  }
  header.light .content-header .nav-menu > ul > li ul {
    background: white;
  }
  header.light .content-header .nav-menu > ul > li ul li,
  header.light .content-header .nav-menu > ul > li ul li a {
    color: #4080ff;
  }
  header.dark .content-header a.brand img.logo-header {
    opacity: 1;
  }
  header.dark .content-header a.brand img.logo-header-white {
    opacity: 0;
  }
  header.dark .content-header.min-header {
    background-color: #fff;
  }
  header.dark .content-header .nav-menu > ul {
    border-bottom: 1px solid #9c9c9c;
  }
  header.dark .content-header .nav-menu > ul > li,
  header.dark .content-header .nav-menu > ul > li a {
    color: #4080ff;
  }
  header.dark .content-header .nav-menu > ul > li ul {
    background: #4080ff;
  }
  header.dark .content-header .nav-menu > ul > li ul li,
  header.dark .content-header .nav-menu > ul > li ul li a {
    color: #fff;
  }
  header.dark .content-header .search-container i {
    color: #4080ff;
  }
  header.dark .content-header .search-container .main-form-search input[type="text"] {
    color: rgba(64, 128, 255, 0.6);
    border-bottom: 2px solid rgba(64, 128, 255, 0.6);
  }
}
/*# sourceMappingURL=header.css.map */