.post-hero {
  background-position: center;
  background-size: cover;
  position: relative;
}

.post-hero .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(62%, rgba(255, 255, 255, 0.85)), color-stop(86%, rgba(255, 255, 255, 0.79)), color-stop(100%, rgba(255, 255, 255, 0.76)));
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(62%, rgba(255, 255, 255, 0.85)), color-stop(86%, rgba(255, 255, 255, 0.79)), to(rgba(255, 255, 255, 0.76)));
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.85) 62%, rgba(255, 255, 255, 0.79) 86%, rgba(255, 255, 255, 0.76) 100%);
  position: absolute;
}

.post-hero .post-date {
  color: #828282;
  font-family: "Raleway";
  font-weight: 100;
  font-size: 30px;
  z-index: 10;
  position: relative;
  text-transform: capitalize;
}

.post-hero .post-title {
  font-size: 45px;
  color: #4080ff;
  padding: 20px 0px;
  font-family: "Raleway";
  font-weight: 900;
  border-bottom: 1px solid #4080ff;
  position: relative;
}

.post-hero .post-title:before {
  content: "";
  bottom: -1px;
  width: 180px;
  height: 4px;
  position: absolute;
  background-color: #4080ff;
}

.post-content {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Raleway";
  font-size: 1em;
  line-height: 1.5em;
}

.post-content .column {
  padding: 10px;
}

.post-content .column.info {
  width: calc(60% - 50px);
  padding-right: 50px;
}

.post-content .column.related, .post-content .column.imagen-destacada {
  width: 40%;
}

.post-content .column.related .post-img-destacada, .post-content .column.imagen-destacada .post-img-destacada {
  width: 100%;
}

.post-content .column.related .post-img-destacada img, .post-content .column.imagen-destacada .post-img-destacada img {
  width: 100%;
}

.post-content .column .post-related .post-related-title {
  color: #4080ff;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-content .column .post-related .grid-related {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post-content .column .post-related .grid-related .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  height: 300px;
  margin: 10px;
  position: relative;
  background-size: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-position: center;
  -webkit-box-shadow: 0px 0px 10px -5px black;
          box-shadow: 0px 0px 10px -5px black;
  text-decoration: none;
}

.post-content .column .post-related .grid-related .item .info {
  width: calc(100% - 20px);
  height: calc(250px - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  position: relative;
  background-position-y: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(#4080ff));
  background-image: linear-gradient(transparent 20%, #4080ff);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.post-content .column .post-related .grid-related .item .info .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(#4080ff));
  background-image: linear-gradient(transparent 20%, #4080ff);
}

.post-content .column .post-related .grid-related .item .info .date {
  text-transform: capitalize;
  font-size: 12px;
  color: white;
}

.post-content .column .post-related .grid-related .item .info .related-title {
  color: white;
  font-size: 16px;
  font-weight: 800;
}

.post-content .column .post-related .grid-related .item .leer-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 50px;
  width: calc(100% - 20px);
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
}

.post-content .column .post-related .grid-related .item .leer-mas span {
  color: black;
  font-size: 10px;
  font-family: "Raleway";
  font-weight: 900;
  width: 70%;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.post-content .column .post-related .grid-related .item .leer-mas div {
  width: 30%;
}

.post-content .column .post-related .grid-related .item .leer-mas div img {
  width: 100%;
  max-width: 80px;
}

.post-content .column .post-related .grid-related .item:hover .info:before {
  opacity: 1;
}

.post-content .column .post-related .grid-related .item:before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  width: calc(100% - 20px);
  height: calc(250px - 20px);
  padding: 10px;
  background-position-y: 100%;
  opacity: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(#f16418));
  background-image: linear-gradient(transparent 20%, #f16418);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.post-content .column .post-related .grid-related .item:hover:before {
  opacity: 1;
}

.post-content .column .post-related .grid-related .item:hover .info {
  background-position-y: 300px;
}

.post-content .column .post-related .grid-related .item:hover .leer-mas span {
  color: #4080ff;
}

.post-footer-author {
  background-color: #ececec;
  padding: 20px 85px;
}

.post-footer-author .post-author-content {
  margin: 0 auto;
  max-width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-footer-author .post-author-content .column {
  padding: 20px;
}

.post-footer-author .post-author-content .column .avatar img {
  width: 200px;
}

.post-footer-author .post-author-content .column .text {
  font-family: "Raleway";
  color: #828282;
}

.post-footer-author .post-author-content .column .text .email a {
  text-decoration: none;
  color: #4080ff;
}

@media screen and (max-width: 767px) {
  .post-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-content .column.info {
    width: calc(100% - 20px);
    padding-right: 10px;
  }
  .post-content .column.related, .post-content .column.imagen-destacada {
    width: calc(100% - 20px);
  }
  .post-content .column.related .post-img-destacada, .post-content .column.imagen-destacada .post-img-destacada {
    width: 100%;
  }
  .post-content .column.related .post-img-destacada img, .post-content .column.imagen-destacada .post-img-destacada img {
    width: 100%;
  }
  .post-footer-author {
    padding: 20px 50px;
  }
  .post-footer-author .post-author-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-footer-author .post-author-content .column {
    padding: 0;
    text-align: center;
  }
  .post-footer-author .post-author-content .column .avatar img {
    width: 100px;
    margin: 0 auto;
    display: block;
  }
  .post-footer-author .post-author-content .column .text {
    font-family: "Raleway";
    color: #828282;
  }
  .post-footer-author .post-author-content .column .text p {
    margin: 5px 0;
  }
  .post-footer-author .post-author-content .column .text .email a {
    text-decoration: none;
    color: #4080ff;
  }
}
