.swiper-container {
  width: 100%;
  padding: 0;
}

.swiper-container.home-slider {
  height: 100vh;
}

.swiper-container .swiper-wrapper {
  padding: 0;
}

.swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  overflow: hidden;
}

.swiper-container .swiper-wrapper .swiper-slide .media {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-wrapper .swiper-slide .media img {
  height: 100%;
}

.podemos-slider .swiper-slide .content .title-slider {
  padding: 5px 13px;
}

.podemos-slider .swiper-slide .content .title-slider:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  left: 10px;
  top: calc(100% + 10px);
  background-color: #fff;
}

.podemos-slider .swiper-slide .content .small-title-slider {
  margin-left: 15px;
  margin-bottom: 20px;
}

.podemos-slider .swiper-slide .content .desc {
  margin: 40px 0 25px 15px;
}

.competencias-slider {
  width: 100%;
}

.competencias-slider .swiper-slide .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.competencias-slider .swiper-slide .content .colmn:nth-child(1) {
  width: 40.5%;
}

.competencias-slider .swiper-slide .content .colmn:nth-child(1) .content .video {
  width: 100%;
}

.competencias-slider .swiper-slide .content .colmn:nth-child(2) {
  width: 59.5%;
}

.competencias-slider .swiper-slide .content .colmn:nth-child(2) .content {
  padding: 10px 60px;
}

.competencias-slider .swiper-slide .content .colmn:nth-child(2) .content .small-title-slider {
  width: 100%;
}

.competencias-slider .swiper-button-prev img {
  margin-left: -2px;
}

.competencias-slider .swiper-button-next img {
  margin-right: -2px;
}

.competencias-slider .row {
  display: block;
  width: 100%;
  margin: 40px 0px;
}

.competencias-slider .row .colmn:nth-child(1) {
  width: 40%;
  height: 30px;
}

.competencias-slider .row .colmn:nth-child(1) .amc-slider-button {
  float: right;
  margin: 0;
  margin-left: 30px;
  margin-top: -15px;
}

.testimonio-slider {
  width: 100%;
}

.testimonio-slider .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) {
  width: 60%;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content {
  padding: 10px 80px;
  padding-right: 10px;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-info {
  width: 90%;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .small-title-slider {
  display: block;
  padding: 10px 0px 15px;
  margin-bottom: 10px;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .title-slider {
  padding: 0 10px;
  min-width: unset;
  left: -10px;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .sub-title {
  font-family: "Raleway";
  font-size: 14px;
  color: white;
  margin: 15px 3px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 10px;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .desc {
  color: white;
  font-style: italic;
  margin: 0;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .desc p {
  margin: 0;
  margin-bottom: 10px;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-arrows {
  display: inline-block;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-slide-item {
  display: block;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) {
  width: 40%;
}

.testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .video {
  width: 100%;
}

.testimonio-slider .swiper-button-prev {
  left: 0;
  margin-right: 23px;
}

.testimonio-slider .swiper-button-prev img {
  margin-left: -2px;
}

.testimonio-slider .swiper-button-next img {
  margin-right: -2px;
}

.testimonio-slider .cont-medalla {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonio-slider .cont-medalla img {
  width: 100px;
  height: auto;
}

.testimonio-slider .cont-medalla p {
  font-size: 24px;
  color: white;
  font-family: "Raleway";
  font-weight: 700;
  margin: 0;
  margin-left: 20px;
  margin-top: 30px;
}

.testimonio-slider .row {
  display: block;
  width: 100%;
  padding-left: 80px;
}

.testimonio-slider .row .colmn:nth-child(1) {
  width: 40%;
  height: 30px;
}

.testimonio-slider .row .colmn:nth-child(1) .amc-slider-button {
  float: left;
  margin: 0;
  margin-right: 30px;
  margin-top: -35px;
}

#casos-de-exito {
  padding: 0 55px 0 85px;
  width: calc(100% - 140px);
}

.casos-de-exito-slider {
  width: 100%;
  margin-top: 70px;
}

.casos-de-exito-slider .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) {
  width: 50%;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-info {
  width: 80%;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .img-principal {
  width: 100%;
  margin: 60px 0 40px;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .mas-casos {
  font-size: 16px;
  color: white;
  font-family: "Raleway";
  font-weight: 900;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-arrows {
  display: inline-block;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-slide-item {
  display: block;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) {
  width: 50%;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content table {
  border-spacing: 30px 7px;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content table tbody tr td {
  padding: 10px 15px;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content table tbody tr td span {
  font-weight: 900;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content table tbody tr td:nth-child(1) {
  font-size: 15px;
  color: #4080ff;
  font-family: "Raleway";
  font-weight: 900;
  background: white;
  text-transform: uppercase;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content table tbody tr td:nth-child(2) {
  font-size: 12px;
  color: #4080ff;
  font-family: "Raleway";
  background: rgba(255, 255, 255, 0.9);
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m div {
  width: 200px;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m div p.tit {
  font-size: 15px;
  color: white;
  font-family: "Raleway";
  font-weight: 900;
  text-align: center;
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m div p.desc {
  font-size: 12px;
  color: white;
  font-family: "Raleway";
}

.casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m div img {
  width: 200px;
}

.casos-de-exito-slider .swiper-button-prev {
  left: 0;
  margin-right: 23px;
}

.casos-de-exito-slider .swiper-button-prev img {
  margin-left: -2px;
}

.casos-de-exito-slider .swiper-button-next img {
  margin-right: -2px;
}

.casos-de-exito-slider .cont-medalla {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.casos-de-exito-slider .cont-medalla img {
  width: 100px;
}

.casos-de-exito-slider .cont-medalla p {
  font-size: 24px;
  color: white;
  font-family: "Raleway";
  font-weight: 700;
  margin: 0;
  margin-left: 20px;
  margin-top: 30px;
}

.casos-de-exito-slider .row {
  display: block;
  width: 100%;
  padding-left: 80px;
}

.casos-de-exito-slider .row .colmn:nth-child(1) {
  width: 40%;
  height: 30px;
}

.casos-de-exito-slider .row .colmn:nth-child(1) .amc-slider-button {
  float: left;
  margin: 0;
  margin-right: 30px;
  margin-top: -35px;
}

.amc-slider-button {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  float: left;
  margin: 5px 0px;
  margin-right: 30px;
  margin-left: 2px;
  background-image: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
}

.amc-slider-button img {
  width: 8px;
}

.tabs-container {
  margin-top: 20px;
}

.tabs-container .tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid white;
  position: relative;
  width: auto;
  display: inline-block;
}

.tabs-container .tabs .tab {
  display: inline-block;
  color: white;
  padding: 15px 0px;
  margin-right: 30px;
  font-family: "Raleway";
  font-size: 14px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.tabs-container .tabs .tab:last-child {
  margin-right: 0;
}

.tabs-container .tabs .tab.active {
  border-bottom: 2px solid white;
  font-weight: bold;
}

.panels .panel {
  display: none;
}

.panels .panel.active {
  display: block;
}

.panels .panel .title-slider {
  font-size: 45px;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
  min-width: 290px;
  padding: 0px 10px;
  font-family: "Raleway";
  font-weight: 900;
  background-color: #ff3140;
  display: inline-block;
  position: relative;
  left: -10px;
}

.panels .panel .title-slider:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  left: 10px;
  top: calc(100% + 10px);
  background-color: #fff;
}

.panels .panel .desc {
  color: white;
}

.panels .panel .desc p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 11px;
}

.panels .panel .desc p:last-of-type {
  margin-bottom: 10px;
}

.panels .panel .desc a.button-link {
  background-color: #fff;
  color: #ff3140;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.panels .panel .desc a.button-link:hover {
  background-color: #ff3140;
  color: #fff;
}

@media screen and (min-width: 1750px) {
  .amc-slider-button {
    width: 40px;
    height: 40px;
  }
  .amc-slider-button img {
    width: 10px;
  }
  /* Testimonios */
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .title-slider {
    font-size: 55px;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .sub-title {
    font-size: 20px;
  }
  .testimonio-slider .cont-medalla img {
    width: 130px;
  }
  .testimonio-slider .cont-medalla p {
    margin-top: 40px;
    font-size: 30px;
  }
  /* Casos de exito */
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .mas-casos {
    font-size: 20px;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content table tbody tr td:nth-child(1) {
    font-size: 18px;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content table tbody tr td:nth-child(2) {
    font-size: 15px;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m div {
    width: 300px;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m div p.tit {
    font-size: 18px;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m div p.desc {
    font-size: 15px;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m div img {
    width: 300px;
  }
  /* competencias */
  .competencias-slider .swiper-slide .content .colmn:nth-child(2) .content {
    width: 60%;
    max-width: none !important;
  }
  /* Tabs */
  .tabs-container .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs-container .tabs .tab {
    margin-right: 12px;
    font-size: 18px;
  }
  .panels .panel .title-slider {
    font-size: 55px;
  }
  .panels .panel .desc p {
    font-size: 16px;
  }
  .panels .panel .desc a.button-link {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Testimonios */
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content {
    padding: 10px 25px;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-info {
    width: 90%;
  }
  /* Casos de exito */
  #casos-de-exito {
    padding: 0 0 0 25px;
    width: calc(100% - 25px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Testimonios */
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) {
    width: 50%;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content {
    padding: 10px 15px;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-info {
    width: 95%;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) {
    width: 50%;
  }
  /* Casos de exito */
  #casos-de-exito {
    padding: 0 0 0 15px;
    width: calc(100% - 15px);
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) {
    width: 40%;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-info {
    width: 95%;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) {
    width: 60%;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content table {
    border-spacing: 15px 7px;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content .cont-m {
    padding: 0 15px;
  }
  /* competencias */
  .competencias-slider .swiper-slide .content .colmn:nth-child(2) {
    width: 59.5%;
  }
  .competencias-slider .swiper-slide .content .colmn:nth-child(2) .content {
    padding: 10px 15px;
  }
  /* Tabs */
  .tabs-container .tabs .tab {
    margin-right: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  /* Home */
  .home-slider .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Testimonios */
  .contenedor-general-testimonios {
    padding: 60px 20px;
    width: auto;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) {
    width: 100%;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content {
    padding: 0;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(1) .content .cont-info {
    width: 100%;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) {
    width: 100%;
  }
  .testimonio-slider .swiper-wrapper .swiper-slide .content .colmn:nth-child(2) .content {
    padding: 0;
  }
  .testimonio-slider .cont-medalla {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .testimonio-slider .cont-medalla img {
    width: 70px;
  }
  .testimonio-slider .cont-medalla p {
    font-size: 18px;
  }
  /* Casos de exito */
  #casos-de-exito {
    padding: 60px 20px;
    width: calc(100% - 40px);
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide > .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide > .content .colmn:nth-child(1) {
    width: 100%;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide > .content .colmn:nth-child(1) .content .cont-info {
    width: 95%;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide > .content .colmn:nth-child(2) {
    width: 100%;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide > .content .colmn:nth-child(2) .content table {
    border-spacing: 0px 7px;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide > .content .colmn:nth-child(2) .content .cont-m {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide > .content .colmn:nth-child(2) .content .cont-m div {
    width: 100%;
  }
  .casos-de-exito-slider .swiper-wrapper .swiper-slide > .content .colmn:nth-child(2) .content .cont-m div img {
    margin: 0 auto;
    display: block;
  }
  /* competencias */
  .contenedor-general-competencias {
    padding: 60px 20px;
    width: auto;
  }
  .competencias-slider .swiper-slide .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .competencias-slider .swiper-slide .content .colmn:nth-child(1) {
    width: 100%;
    margin-top: 20px;
  }
  .competencias-slider .swiper-slide .content .colmn:nth-child(2) {
    width: 100%;
  }
  .competencias-slider .swiper-slide .content .colmn:nth-child(2) .content {
    padding: 0;
  }
  .competencias-slider .row .colmn:nth-child(1) {
    width: 100%;
  }
  /* Tabs */
  .tabs-container .tabs .tab {
    margin-right: 4px;
    font-size: 10px;
  }
}
