.descargable-cont {
    .small-title {
        color: #4080ff;
        border-bottom: 1px solid #4080ff;
        &:before {
            background-color: #4080ff;
        }
    }
    .descargables {
        margin: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        .link-descargable {
            box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s;
            text-decoration: none;
            color: #4080ff;
            width: 30%;
            max-width: 300px;
            margin: 10px;
            >img {
                max-width: 400px;
            }
            .descargable-item {
                img {
                    margin-bottom: -4px;
                    width: 100%;
                }
                .desc-title {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(100% - 20px);
                    .small-title {
                        width: 75%;
                        font-size: 18px;
                        min-width: 0;
                    }
                    .icon {
                        width: 25%;
                        text-align: center;
                        img {
                            width: 50px;
                        }
                    }
                }
            }
            &:hover {
                box-shadow: 0px 0px 20px -10px black;
            }
        }
    }
}





@media screen and (max-width: 767px){


    .descargable-cont {
        .descargables {
            flex-direction: column;
            .link-descargable {
                width: 100%;
                margin: 10px 0;
            }
        }
    }


}
