footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 170px);
    padding: 20px 85px;
    color: #949a9e;
    justify-content: space-between;

    .column:nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a.footer-logo-link {
        &.size-1 {
            img {
                height: 45px;
                margin-right: 27px;
            }
        }
        &.size-2 {
            img {
                height: 33px;
            }
        }
    }
    .footer-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 30px;
        li {
            padding: 5px;
            &,
            a {
                font-size: 12px;
                font-family: "Raleway";
                font-weight: normal;
            }
        }
    }
    form {
        position: relative;
        label {
            left: 0;
            padding-left: 10px;
            top: -18px;
            position: absolute;
            font-family: "Raleway";
            font-weight: bold;
            color: black;
            font-size: 8px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        input[type="text"],
        input[type="email"] {
            height: 40px;
            width: 185px;
            border: 1px solid #838383;
            padding: 0px 10px;
            margin: 0px 5px;
        }
        input[type="submit"],
        button[type="submit"] {
            background-color: #ff3040;
            height: 42px;
            width: 42px;
            color: white;
            border: 1px solid #ff3040;
            img {
                width: 10px;
            }
        }
    }
}



@media screen and (min-width: 1024px) and (max-width: 1279px){

    footer{
        padding: 20px 25px;
        width: calc(100% - 50px);

        form{
            input[type="text"],
            input[type="email"] {
                width: auto;
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){

    footer{
        padding: 20px 15px;
        width: calc(100% - 30px);

        form{
            display: none !important;
        }

        .footer-menu {
            li {
                &,
                a {
                    font-size: 11px;
                }
            }
        }
    }

}



@media screen and (min-width: 320px) and (max-width: 767px){

    footer{
        padding: 20px 20px;
        width: calc(100% - 40px);
        position: inherit;
        flex-direction: column;

        form{
            input[type="text"],
            input[type="email"] {
                width: 100%;
            }
        }

        .column{
            width: auto;
        }

        .column:nth-child(1){
            flex-direction: column;
        }

        .footer-menu {
            flex-direction: column;
            margin: 10px 0 30px 0;
            li{
                padding: 2px;
                text-align: center;
            }
        }

    }

}