.blog-ver-mas {
    //font-family: "Raleway";
    font-family: "Georgia";
    font-size: 14px;
    border: 1px solid #f16418;
    color: #fff;
    background-color: #f16418;
    padding: 7px 30px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: white;
        color: #f16418;
    }
}

#programa {
    position: relative;
    min-height: 700px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    #casos-de-exito {
        height: 100%;
        position: absolute;
        left: 0;
        transition: all 1s;

        &.move {
            left: -100% !important;
        }
    }

    #programas {
        height: 100%;
        position: absolute;
        left: 100%;
        transition: all 1s;

        &.move {
            left: 0 !important;
        }
    }
}

#menos {
    position: absolute;
    bottom: 50px;
    z-index: 999;
    font-family: "Raleway";
    font-size: 12px;
    border-color: #4080ff;
    color: white;
    background-color: #4080ff;
    padding: 7px 30px;
    transition: all 0.1s;
    outline: none;
    cursor: pointer;
    margin-top: 30px;

    &:hover {
        border-color: #4080ff;
        background-color: white;
        color: #4080ff;
    }
}

#mas {
    position: absolute;
    bottom: 50px;
    z-index: 999;
    font-family: "Raleway";
    font-size: 12px;
    border-color: white;
    color: #4080ff;
    background-color: white;
    padding: 7px 30px;
    transition: all 0.1s;
    outline: none;
    cursor: pointer;

    &:hover {
        border-color: white;
        background-color: #4080ff;
        color: white;
    }
}

body,
html {
    padding: 0;
    margin: 0 !important;
    scroll-behavior: smooth;
}

html {
    margin-top: 0 !important;
}

body {
    position: relative;
    //font-family: "Raleway";
    font-family: Arial;
}

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.vertical-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vertical-top {
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.horizontal-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.horizontal-space {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.color-pink {
    color: #EF6418;
}

.desc {
    font-family: "Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

.title-slider {
    font-size: 45px;
    color: white;
    margin-top: 10px;
    min-width: 290px;
    padding: 10px;
    //font-family: "Raleway";
    font-family: "Georgia";
    font-weight: 900;
    background-color: #f16418;
    display: inline-block;
    position: relative;
}

.title-no-border {
    font-size: 26px;
    color: white;
    width: 67%;
    margin: 0 auto;
    padding: 30px 0px;
    //font-family: "Raleway";
    font-family: "Georgia";
    text-align: center;
    display: inline-block;
    position: relative;
    .subtitulo{
        font-size: 19px;
        margin-top: 30px;
        margin-bottom: 60px;
        //text-shadow: 1px 2px 3px #666;
        text-shadow: 0px 0px 7px #666;
    }
    span{
        text-shadow: 0px 0px 7px #666;
    }
    a.btn-video{
        z-index: 9;     
        background-color: transparent;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 1px;
        transition: all 0.1s ease-in-out;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: "Arial";
        text-shadow: 0px 0px 7px #666;
        img{
            width: 58px;
            height: auto;
            margin-right: 15px;
        }
        &:hover{
            opacity: .7;
        }
    }
    a.btn-link{
        z-index: 9;     
        background-color: transparent;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1px;
        transition: all 0.1s ease-in-out;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: "Arial";
        background: #EF6418;
        padding: 15px 40px;
        border-radius: 0 0 25px 25px;
        margin-top: 20px;
        &:hover{
            color: #EF6418;
            background: white;
        }
    }
}

div.title {
    font-size: 45px;
    color: #838383;
    min-width: 290px;
    padding: 30px 0px;
    //font-family: "Raleway";
    font-family: "Georgia";
    font-weight: 900;
    display: inline-block;
    border-bottom: 1px solid #838383;
    position: relative;

    &:before {
        content: "";
        bottom: -1px;
        width: 80px;
        height: 2px;
        position: absolute;
        background-color: #838383;
    }
}

.small-title {
    //font-size: 16px;
    font-size: 24px;
    color: #597FF8;
    min-width: 290px;
    padding: 10px 0px;
    //font-family: "Raleway";
    font-family: Georgia;
    display: inline-block;
    //border-bottom: 1px solid #838383;
    position: relative;

    &.white{
        color: white;
    }

    &:before {
        /*
        content: "";
        bottom: -1px;
        width: 80px;
        height: 2px;
        position: absolute;
        background-color: #838383;
        */
    }
}

.small-title-slider {
    font-size: 16px;
    color: white;
    min-width: 290px;
    padding: 10px 0px;
    //font-family: "Raleway"
    font-family: "Georgia";
    font-weight: 900;
    display: inline-block;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    /*
    &:before {
        content: "";
        bottom: -1px;
        width: 80px;
        height: 2px;
        position: absolute;
        background-color: white;
    }
    */
}

.row-container {
    padding: 0px 85px;
    // min-height: 750px;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    width: calc(100% - 170px);

    .colmn {
        width: 50%;
    }

    .content {
        width: 100%;
        padding: 50px 0;
    }

    &.search-page {
        padding-top: 130px;
    }
}

.row-container-fluid {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#quepodemos {
    .content {
        >div:nth-child(1) {
            display: flex;
            justify-content: center;
        }
    }
}

.grid {
    margin: 10px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .colmn {
        background-color: rgba(white, 0.5);
        margin-top: 20px;        
        width: calc(46% - 20px);
        border: 1px solid #597FF8;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        padding: 30px 10px;
        position: relative;
        display: flex;
        align-items: center;

        .column-img {
            height: 65px;
            filter: contrast(0.1);
            width: auto;
        }

        .column-img-hover {
            height: 65px;
            width: auto;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .div-img {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .cont-imgs{
                position: relative;
            }
        }
        .div-desc {
            width: 70%;
        }

        .column-title {
            color: #06326B;
            //font-family: "Raleway";
            font-family: Georgia;
            font-weight: 900;
            font-size: 12px;
            margin: 0;
            margin-bottom: 20px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .column-desc {
            color: #597FF8;
            padding: 0 10px;
            //font-family: "Raleway";
            font-family: Arial;
            font-size: 13px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        &:hover {
            border: 1px solid #f16418;
            background-color: #f16418;

            .column-img {
                opacity: 0;
            }

            .column-img-hover {
                opacity: 1;
                transform: scale(1.1);
            }

            .column-title,
            .column-desc {
                color: white;
            }
        }
    }
}


/* Programas */

#programas {
    .content {
        p.desc {
            font-size: 16px;
            color: #838383;
            font-family: "Raleway";
            margin-top: 25px;

            span {
                font-weight: 900;
            }
        }

        p.mark {
            font-size: 22px;
            color: #838383;
            font-family: "Raleway";
            font-weight: 900;
            width: 50%;
            padding-bottom: 15px;
            border-bottom: 1px solid #b6b5b6;
            margin-bottom: 10px;
        }

        .dec {
            width: 65px;
            height: 2px;
            background: #838383;
            margin-top: 25px;
        }

        .columns-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .colmn {
                display: flex;
                align-items: flex-start;
                padding: 10px;

                &#antes {
                    width: 60%;
                    color: #08225c;

                    .top-text {
                        border-color: #8eb0f8;
                    }
                }

                &#durante {
                    width: 20%;
                    color: #8eb0f8;

                    .top-text {
                        border-color: #a4a4a4;
                    }
                }

                &#despues {
                    width: 20%;
                    color: #a4a4a4;

                    .top-text {
                        border-color: #a4a4a4;
                    }
                }

                .top-text {
                    text-align: center;
                    font-family: "Raleway";
                    font-weight: 800;
                    font-size: 16px;
                    border-bottom: 1px solid black;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                }

                .item {
                    .info {
                        position: relative;

                        img {
                            width: 100%;
                        }

                        .cont-items {
                            position: absolute;
                            width: 50%;
                            height: min-content;
                            right: 0;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;

                            img {
                                height: 50px;
                                width: auto;
                            }

                            p {
                                font-size: 12px;
                                font-family: "Raleway";
                                margin: 0;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}


#contacto{
    .redes{
        a{
            text-decoration: none;
            img{
                height: 27px;
                width: auto;
                margin-right: 2px;
                transition: all .3s;

                &:hover{
                    opacity: .7;
                }
            }
        }
    }

    .content{
        .hbspt-form{
            width: 100%;
            height: auto;
            iframe{
                width: 100% !important;
            }
        }
    }
}

.form-contact {
    max-width: 600px;
    width: 90%;

    .form-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 15px 0px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &:last-child {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        input {
            font-family: "Raleway";
            font-weight: normal;
            width: 100%;
            font-size: 14px;
            height: 50px;
            padding: 0px 15px;
            color: #606060;
            border: 2px solid #4080ff;

            &.i-50 {
                width: calc(48% - 30px);
            }
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            color: rgba(#4080ff, 0.7);
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            color: rgba(#4080ff, 0.7);
        }

        input::-ms-input-placeholder,
        textarea::-ms-input-placeholder {
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            color: rgba(#4080ff, 0.7);
        }

        input::placeholder,
        textarea::placeholder {
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            color: rgba(#4080ff, 0.7);
        }

        textarea {
            color: #606060;
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            width: 100%;
            border: 2px solid #4080ff;
            padding: 15px;
        }

        input[type="submit"] {
            font-family: "Raleway";
            font-weight: 900;
            letter-spacing: 3px;
            font-size: 14px;
            text-transform: uppercase;
            width: auto;
            border-color: #f16418;
            color: white;
            -ms-flex-item-align: start;
            align-self: flex-start;
            background-color: #f16418;
            padding: 0px 30px;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;

            &:hover {
                color: #f16418;
                background-color: #fff;
            }
        }
    }
}

.suscribete {
    position: relative;
    top: 10px;

    form {
        position: relative;

        label {
            font-family: "Raleway";
            font-weight: bold;
            color: black;
            font-size: 8px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-right: 20px;
        }

        input[type="text"],
        input[type="email"] {
            height: 40px;
            border: 1px solid #838383;
            padding: 0px 10px;
            margin: 0px 5px;
            width: 185px;
        }

        input[type="submit"],
        button[type="submit"] {
            background-color: #f16418;
            height: 42px;
            width: 42px;
            color: white;
            border: 2px solid #f16418;
            transition: all 0.3s;
            cursor: pointer;
            outline: none;

            img {
                width: 10px;
                position: relative;
                top: -5px;
            }

            &:hover {
                background: #4080ff;
                border-color: #4080ff;
            }
        }
    }
}

// Banner
.contenedor-general-banner{
    background-image: url(../img/amc-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px 0;
    .cont-banner{
        display: flex;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        .info{
            width: 70%;
            p{
                color: white;
                font-family: Arial;
                font-size: 19px;
                line-height: 28px;
                margin-top: 0;
            }
            a{
                color: white;
                font-family: Arial;
                font-size: 14px;
                text-transform: uppercase;
                border: 2px solid white;
                padding: 15px 40px;
                background: transparent;
                text-decoration: none;
                display: inline-block;
                transition: all .3s;
                &:hover{
                    background: white;
                    color: #06326B;
                }
            }
        }
        .img{
            width: 30%;
            img{
                width: 160px;
                display: block;
                margin: 0 auto;
            }
        }
    }
}


.cont-tit{
    width: 59%;
    text-align: center;
    margin: 0 auto;
}

//Testimonios
    .contenedor-general-testimonios{
        margin-top: 60px;
        .contenedor-testimonios{
            display: flex;
            justify-content: space-evenly;
            .cont-testimonio{
                width: 27%;
                .img{
                    width: 190px;
                    height: 190px;
                    border-radius: 50%;
                    border: 2px solid #597FF8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    img{
                        width: 60%;
                    }
                }
                .testimonio{
                    p{
                        color: #B0B0B0;
                        font-family: Arial;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }

// Beneficios
    .contenedor-general-beneficios{
        margin-top: 60px;
        .contenedor-beneficios{
            width: 80%;
            margin: 0 auto;
            p{
                color: #808080;
                font-family: Georgia;
                font-size: 17px;
                font-weight: bold;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                list-style: none;
                padding-left: 0;
                li{
                    color: #808080;
                    font-family: Georgia;
                    font-size: 17px;
                    font-weight: bold;
                    width: 40%;
                    padding: 20px 0;
                    padding-left: 35px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    &::before{
                        content: '';
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        background-image: url(../img/dot-list.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }


    // Casos de exito
    .contenedor-general-casos{
        margin-top: 20px;
        .contenedor-casos{
            display: flex;
            justify-content: space-between;
            width: 97%;
            margin: 0 auto;
            .cont-caso{
                //width: 46%;
                width: 100%;
                .img{
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                    img{
                        width: 100%;
                        display: block;
                        visibility: hidden;
                    }
                }
                .info{
                    padding: 20px;
                    background: white;
                    height: 230px;
                    p{
                        color: #808080;
                        font-family: Arial;
                        font-size: 14px;
                        strong{
                            color: #597FF8;
                        }
                    }
                }
            }
        }
    }

/*
@media screen and (min-width: 991px) {
    .vertical-top {
        padding-top: 140px !important;
    }
}
*/

@media screen and (min-width: 1750px) {
    div.title {
        font-size: 55px;
    }

    .small-title-slider {
        font-size: 22px;
    }

    .small-title {
        font-size: 28px;
    }

    .desc {
        font-size: 24px;
    }

    .title-slider {
        font-size: 55px;
    }

    .title-no-border {
        font-size: 30px;
        .subtitulo{
            font-size: 22px;
            margin-top: 50px;
            margin-bottom: 90px;
        }
        a.btn-video{
            font-size: 21px;
        }
        a.btn-link{
            font-size: 17px;
            margin-top: 40px;
        }
    }

    /* Programas */
    #programas {
        .content {
            p.mark {
                font-size: 14px;
            }

            .columns-container {
                .colmn {
                    .item {
                        .info {
                            .cont-items {
                                width: 45%;

                                img {
                                    height: 75px;
                                    width: auto;
                                }

                                p {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* ¿Que podemos hacer por ti */
    
    .grid {
        max-width: 1750px;
        margin: 0 auto;
        .colmn{
            .column-title{
                font-size: 15px;
            }

            .column-img{
                height: 85px;
            }

            .column-img-hover{
                height: 85px;
            }

            .column-desc{
                font-size: 16px;
            }
        }
    }


    //Banner
    .contenedor-general-banner{
        .cont-banner{ 
            .info{ 
                p{
                    font-size: 22px;
                    line-height: 31px;
                }
                a{
                    font-size: 17px;
                }
            }
            .img{
                img{
                    width: 225px;
                }
            }
            
        }
    }

    //Testimonios
    .contenedor-general-testimonios{ 
        .contenedor-testimonios{
            .cont-testimonio{
                .testimonio{ 
                    p{
                        font-size: 17px;
                    }
                }
            }
        }
    }

    //Beneficios
    .contenedor-general-beneficios{ 
        .contenedor-beneficios{
            p{
                font-size: 20px;
            }
            ul{
                li{
                    font-size: 20px;
                }
            }
        }
    }


    //Casos de Exito
    .contenedor-general-casos{ 
        .contenedor-casos {
            .cont-caso{ 
                .info{
                    height: 282px;
                    padding: 30px;
                    p{
                        font-size: 17px;
                    }
                }
            }
        }
    }

    //Redes Contacto
    #contacto{
        .redes {
            a{
                img{
                    height: 37px;
                }
            }
        }
    }
    
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .row-container {
        padding: 0px 25px;
        width: calc(100% - 50px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .row-container {
        padding: 0px 15px;
        width: calc(100% - 30px);
    }

    .grid{
        .colmn{
            min-width: 200px;
            margin: 20px 10px;
        }
    }

    /* Contact */

    .contenedor-general-contacto {
        flex-direction: column;
        .content{
            .title{
                margin: 0 auto;
                display: table;
            }
        }
        .colmn {
            width: 90%;
            margin: 0 auto;
        }

        p.desc {
            text-align: center;
        }
        .redes{
            text-align: center;
        }
    }



    .form-contact {
        .form-row {
            input {
                height: 40px;
            }
        }
    }

    /* Programas */
    #programas {
        .content {
            >.columns-container {
                flex-wrap: wrap;
                justify-content: center;

                .colmn {
                    &#antes {
                        width: calc(100% - 20px);

                        .columns-container {
                            flex-wrap: nowrap;

                            .column {
                                width: 25%;
                            }
                        }
                    }

                    &#durante {
                        width: calc(25% - 10px);
                    }

                    &#despues {
                        width: calc(25% - 10px);
                    }
                }
            }
        }
    }

    //Beneficios
    .contenedor-general-beneficios{
        .contenedor-beneficios{
            width: 90%;
        }
    }
    
        //Casos de Exito
        .contenedor-general-casos{ 
            .contenedor-casos {
                .cont-caso{ 
                    .info{
                        height: 324px;
                    }
                }
            }
        }


}

@media screen and (max-width: 767px) {
    .row-container {
        padding: 60px 20px;
        width: calc(100% - 40px);
        height: auto;
    }

    .row-container-fluid {
        height: auto;
    }

    .title-slider {
        font-size: 35px !important;
        min-width: unset !important;
    }

    .title-no-border {
        font-size: 22px;
        width: 100%;
        .subtitulo{
            font-size: 17px;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        a.btn-video{
            font-size: 15px;
            img{
                width: 45px;
            }
        }
        a.btn-link{
            font-size: 12px;
        }
    }

    /* Contact */
    .contenedor-general-contacto {
        flex-direction: column;

        .colmn {
            width: 100%;
        }

    }

    .form-contact {
        width: 100%;

        .form-row {
            flex-direction: column;

            input {
                height: 40px;
                width: auto;

                &.i-50 {
                    width: auto;
                }

                &.i-50:nth-child(2) {
                    margin-top: 15px;
                }
            }

            textarea {
                width: auto;
            }
        }
    }

    /* Programas */

    #mas {
        width: calc(100% - 40px);
    }

    #programa {
        min-height: 1475px;

        #casos-de-exito {
            height: calc(100% - 120px);
        }

        #programas {
            height: calc(100% - 120px);
        }
    }



    #programas {
        .content {
            p.desc {
                font-size: 15px;
            }

            >.columns-container {
                flex-direction: column;
                align-items: center;
                max-width: 280px;
                margin: 0 auto;

                .colmn {
                    &#antes {
                        width: calc(100% - 20px);

                        .columns-container {
                            flex-wrap: wrap;

                            .column {
                                width: 65%;
                            }
                        }
                    }

                    &#durante {
                        width: calc(100% - 20px);

                        .item {
                            max-width: 170px;
                            margin: 0 auto;
                        }
                    }

                    &#despues {
                        width: calc(100% - 20px);

                        .item {
                            max-width: 170px;
                            margin: 0 auto;
                        }
                    }
                }
            }

            .mark {
                width: 100% !important;
            }
        }
    }

    #quepodemos{
        .content{
            > div{
                &:nth-child(1){
                    text-align: center;
                }
            }
        }
    }

    /* ¿Que podemos hacer por ti */
    .grid {
        flex-direction: column;
        align-items: center;

        .colmn {
            padding: 30px;
            width: calc(100% - 60px);
            margin: 20px 0;
            flex-direction: column;
            .div-img{
                width: 100%;
            }
            .div-desc{
                width: 100%;
            }
        }
    }


    // Banner
    .contenedor-general-banner{
        padding: 40px 0;
        .cont-banner{
            flex-direction: column;
            .info{
                width: 100%;
                p{
                    font-size: 17px;
                    line-height: 24px;
                }
                a{
                    font-size: 12px;
                }
            }
            .img{
                width: 100%;
                margin-top: 30px;
                img{
                    width: 220px;
                }
            }
        }
    }

    .cont-tit{
        width: 100%;
    }


    // Testimonios
    .contenedor-general-testimonios{
        margin-top: 0;
        padding-bottom: 0 !important;
        .contenedor-testimonios{
            flex-direction: column;
            .cont-testimonio{
                width: 100%;
                margin-top: 25px;
            }
        }
    }

    // Beneficios
    .contenedor-general-beneficios{
        .contenedor-beneficios{
            width: 100%;
            ul{
                li{
                    width: 100%;
                }
            }
        }
    }


        // Casos de exito
        .contenedor-general-casos{
            margin-top: 0;
            .contenedor-casos{
                flex-direction: column;
                width: 100%;
                .cont-caso{
                    width: 100%;
                    margin-top: 40px;
                    .info{
                        height: 356px;
                    }
                }
            }
        }
    
}