body,
html {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.vertical-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vertical-top {
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.horizontal-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.horizontal-space {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.color-pink {
    color: #ff3140;
}

.desc {
    font-family: "Raleway";
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

.title-slider {
    font-size: 45px;
    color: white;
    margin-top: 10px;
    min-width: 290px;
    padding: 10px;
    font-family: "Raleway";
    font-weight: 900;
    background-color: #ff3140;
    display: inline-block;
    position: relative;
}

.title-no-border {
    font-size: 45px;
    color: white;
    min-width: 290px;
    padding: 30px 0px;
    font-family: "Raleway";
    font-weight: 900;
    display: inline-block;
    position: relative;
}

.title {
    font-size: 45px;
    color: #838383;
    min-width: 290px;
    padding: 30px 0px;
    font-family: "Raleway";
    font-weight: 900;
    display: inline-block;
    border-bottom: 1px solid #838383;
    position: relative;
    &:before {
        content: "";
        bottom: -1px;
        width: 80px;
        height: 2px;
        position: absolute;
        background-color: #838383;
    }
}

.small-title {
    font-size: 20px;
    color: #838383;
    min-width: 290px;
    padding: 10px 0px;
    font-family: "Raleway";
    font-weight: 900;
    display: inline-block;
    border-bottom: 1px solid #838383;
    position: relative;
    &:before {
        content: "";
        bottom: -1px;
        width: 80px;
        height: 2px;
        position: absolute;
        background-color: #838383;
    }
}

.small-title-slider {
    font-size: 20px;
    color: white;
    min-width: 290px;
    padding: 10px 0px;
    font-family: "Raleway";
    font-weight: 900;
    display: inline-block;
    border-bottom: 1px solid white;
    position: relative;
    &:before {
        content: "";
        bottom: -1px;
        width: 80px;
        height: 2px;
        position: absolute;
        background-color: white;
    }
}

.row-container {
    padding: 0px 85px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: calc(100% - 170px);
    .colmn {
        width: 50%;
    }
    .content {
        width: 100%;
    }
}

.row-container-fluid {
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.grid {
    margin: 40px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .colmn {
        background-color: rgba(white, 0.5);
        height: 300px;
        width: calc(19% - 20px);
        border: 1px solid #4080ff;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        padding: 30px 10px;
        position: relative;
        .column-img {
            height: 80px;
            width: auto;
        }
        .column-img-hover {
            height: 80px;
            width: auto;
            position: absolute;
            left: 10px;
            opacity: 0;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;
        }
        .column-title {
            color: #4080ff;
            font-family: "Raleway";
            font-weight: 900;
            font-size: 18px;
            margin: 30px 0px;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;
        }
        .column-desc {
            color: #b6b5b6;
            font-family: "Raleway";
            font-size: 14px;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;
        }
        &:hover {
            border: 1px solid #ff3140;
            background-color: #ff3140;
            .column-img {
                opacity: 0;
            }
            .column-img-hover {
                opacity: 1;
            }
            .column-title,
            .column-desc {
                color: white;
            }
        }
    }
}

.form-contact {
    max-width: 600px;
    width: 90%;
    .form-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 15px 0px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        &:last-child {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
        input {
            font-family: "Raleway";
            font-weight: normal;
            width: 100%;
            font-size: 14px;
            height: 50px;
            padding: 0px 15px;
            color: #606060;
            border: 2px solid #4080ff;
            &.i-50 {
                width: calc(48% - 30px);
            }
        }
        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            color: rgba(#4080ff, 0.7);
        }
        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            color: rgba(#4080ff, 0.7);
        }
        input::-ms-input-placeholder,
        textarea::-ms-input-placeholder {
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            color: rgba(#4080ff, 0.7);
        }
        input::placeholder,
        textarea::placeholder {
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            color: rgba(#4080ff, 0.7);
        }
        textarea {
            color: #606060;
            font-size: 14px;
            font-family: "Raleway";
            font-weight: normal;
            width: 100%;
            border: 2px solid #4080ff;
            padding: 15px;
        }
        input[type="submit"] {
            font-family: "Raleway";
            font-weight: 900;
            letter-spacing: 3px;
            font-size: 14px;
            text-transform: uppercase;
            width: auto;
            border-color: #ff3040;
            color: white;
            -ms-flex-item-align: start;
            align-self: flex-start;
            background-color: #ff3040;
            padding: 0px 30px;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;
            &:hover {
                color: #ff3040;
                background-color: #fff;
            }
        }
    }
}

.suscribete {
    form {
        position: relative;
        label {
            font-family: "Raleway";
            font-weight: bold;
            color: black;
            font-size: 8px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-right: 20px;
        }
        input[type="text"],
        input[type="email"] {
            height: 40px;
            border: 1px solid #838383;
            padding: 0px 10px;
            margin: 0px 5px;
        }
        input[type="submit"],
        button[type="submit"] {
            background-color: #ff3040;
            height: 43px;
            width: 43px;
            color: white;
            border: 2px solid #ff3040;
            img {
                width: 10px;
            }
        }
    }
}



@media screen and (min-width: 1750px){

    /* Contact */

    .contenedor-general-contacto{
        .title{
            font-size: 55px;
        }
        p.desc{
           font-size: 27px;
        }
    }

}

@media screen and (min-width: 1024px) and (max-width: 1279px){

    .row-container{
        padding: 0px 25px;
        width: calc(100% - 50px);
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){

    .row-container{
        padding: 0px 15px;
        width: calc(100% - 30px);
    }


    /* Contact */

    .form-contact {
        .form-row {
            input {
                height: 40px;
            }
        }
    }

}



@media screen and (min-width: 320px) and (max-width: 767px){

    .row-container{
        padding: 60px 20px;
        width: calc(100% - 40px);
        height: auto;
    }

    .row-container-fluid{
        height: auto;
    }



    /* Contact */

    .contenedor-general-contacto{
        flex-direction: column;
        .colmn{
            width: 100%;
        }
        p.desc{
            text-align: center;
        }
    }

    .form-contact {
        width: 100%;
        .form-row {
            flex-direction: column;
            input {
                height: 40px;
                width: auto;
                &.i-50 {
                    width: auto;
                }
                &.i-50:nth-child(2) {
                    margin-top: 15px;
                }
            }
            textarea{
                width: auto;
            }
        }
    }

    

}