.dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 85px;
    position: fixed;
    z-index: 10;
    width: calc(100% - 170px);
    a.brand {
        text-decoration: none;
        position: relative;
        img.logo-header {
            opacity: 1;
            width: 50px;
        }
        img.logo-header-white {
            width: 50px;
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
        }
    }
    nav.nav-menu {
        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(white, 0.6);
            border-bottom: 1px solid #9c9c9c;
            li {
                padding: 10px;
                &,
                a {
                    color: white;
                    color: #4080ff;
                    font-family: "Raleway";
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
    }
}

.light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 85px;
    position: fixed;
    z-index: 10;
    width: calc(100% - 170px);
    a.brand {
        position: relative;
        text-decoration: none;
        img.logo-header {
            opacity: 0;
            width: 50px;
        }
        img.logo-header-white {
            width: 50px;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    nav.nav-menu {
        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(white, 0.6);
            // border-bottom: 1px solid #9c9c9c;
            li {
                padding: 10px;
                &,
                a {
                    color: white;
                    // color: #4080ff;
                    font-family: "Raleway";
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
    }
}