.dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 85px;
    position: fixed;
    z-index: 10;
    width: calc(100% - 170px);
    transition: all 0.1s;
    a.brand {
        text-decoration: none;
        position: relative;
        img.logo-header {
            opacity: 1;
            width: 50px;
            transition: all 0.1s;
        }
        img.logo-header-white {
            width: 50px;
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            transition: all 0.1s;
        }
    }
    nav.nav-menu {
        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(white, 0.6);
            border-bottom: 1px solid #9c9c9c;
            transition: all 1.3s;
            li {
                padding: 10px;
                &,
                a {
                    color: white;
                    color: #4080ff;
                    transition: all 0.1s;
                    font-family: "Raleway";
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
    }
    .main-form-search {
        input[type="text"] {
            background: transparent;
            border: none;
            padding: 5px 10px;
            color: rgba(#4080ff, 0.6);
            border-bottom: 2px solid rgba(#4080ff, 0.6);
            outline: none;
        }
    }
    .search-container{
        i{
            color: #4080ff;
        }
    }
}

.light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 85px;
    position: fixed;
    z-index: 10;
    width: calc(100% - 170px);
    transition: all 0.1s;
    a.brand {
        position: relative;
        text-decoration: none;
        img.logo-header {
            opacity: 0;
            width: 50px;
            transition: all 0.1s;
        }
        img.logo-header-white {
            width: 50px;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.1s;
        }
    }
    .main-form-search {
        input[type="text"] {
            background: transparent;
            border: none;
            padding: 5px 10px;
            color: white;
            border-bottom: 2px solid rgba(white, 0.6);
            outline: none;
        }
    }
    nav.nav-menu {
        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(white, 0.6);
            transition: all 0.1s;
            // border-bottom: 1px solid #9c9c9c;
            li {
                padding: 10px;
                transition: all 0.1s;
                &,
                a {
                    color: white;
                    transition: all 0.1s;
                    // color: #4080ff;
                    font-family: "Raleway";
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
    }
    .search-container{
        i{
            color: white;
        }
    }
}


.search-container{
    position: relative;
    i{
        position: absolute;
        top: 5px;
        left: -30px;
        transition: all 0.1s;
    }
}