@media screen and (max-width: 990px) {
    header {
        position: fixed;
        background-color: #4080ff;
        padding: 5px 10px;
        width: 100%;
        z-index: 10;
        .button-mobile {
            display: inline-block;
            text-align: right;
            cursor: pointer;
            i {
                color: white;
                font-size: 28px;
                cursor: pointer;
            }
        }
        .content-header {
            position: absolute;
            left: -100%;
            background-color: #4080ff;
            height: calc(100vh - 38px);
            z-index: 10;
            top: 38px;
            width: calc(100% - 20px);
            text-align: center;
            transition: all 0.3s ease-in-out;
            transition: all 0.3s ease;
            display: table-cell;
            vertical-align: middle;
            &.active {
                left: 0;
            }
            a.brand {
                display: block;
                text-align: center;
                img.logo-header {
                    opacity: 0;
                    position: absolute;
                    width: 100px;
                    margin: 20px 0px;
                }
                img.logo-header-white {
                    text-align: center;
                    width: 100px;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    margin: 20px 0px;
                    transition: all 0.1s;
                }
            }
            nav.nav-menu {
                >ul {
                    margin: 0 auto;
                    padding: 0;
                    list-style: none;
                    width: 50%;
                    text-align: left;
                    >li {
                        padding: 10px 0px;
                        transition: all 0.1s;
                        &,
                        a {
                            color: white;
                            text-decoration: none;
                            transition: all 0.1s;
                            font-family: "Raleway";
                            font-weight: normal;
                            font-size: 18px;
                        }
                        ul {
                            list-style: none;
                            li {
                                padding: 5px;
                                a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
            .search-container {
                position: relative;
                display: inline-block;
                .main-form-search {
                    input[type="text"] {
                        background: transparent;
                        border: none;
                        padding: 5px 10px;
                        color: white;
                        border-bottom: 2px solid rgba(white, 0.6);
                        outline: none;
                        height: 40px;
                        font-size: 18px;
                    }
                }
                i {
                    position: absolute;
                    color: white;
                    left: -25px;
                    top: 30px;
                    font-size: 20px;
                    transition: all 0.1s;
                }
            }
        }
    }
}

@media screen and (min-width: 991px) {
    header {
        .button-mobile {
            display: none;
        }
        .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 35px;
            position: fixed;
            z-index: 10;
            width: calc(100% - 70px);
            transition: all 0.3s;
            a.brand {
                position: relative;
                img.logo-header {
                    opacity: 0;
                    width: 50px;
                    transition: all 0.1s;
                }
                img.logo-header-white {
                    width: 50px;
                    opacity: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all 0.1s ease-in-out;
                }
            }
            &.min-header {
                width: calc(100% - 50px);
                padding: 10px 25px;
                a.brand {
                    img {
                        width: 40px;
                    }
                }
            }
            nav.nav-menu {
                >ul {
                    margin: 0 auto;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.1s;
                    li {
                        padding: 10px;
                        transition: all 0.1s;
                        position: relative;
                        &,
                        a {
                            text-decoration: none;
                            transition: all 0.1s;
                            font-family: "Raleway";
                            font-weight: normal;
                            font-size: 14px;
                        }
                        ul {
                            display: none;
                            position: absolute;
                            top: calc(100% + 1px);
                            width: 150px;
                            left: 0;
                            padding: 0;
                            margin: 0;
                            background: #4080ff;
                            color: white;
                            list-style: none;
                        }
                        &:hover {
                            >ul {
                                display: block;
                            }
                        }
                    }
                }
            }
            .search-container {
                position: relative;
                .main-form-search {
                    input[type="text"] {
                        background: transparent;
                        border: none;
                        padding: 5px 10px;
                        color: white;
                        border-bottom: 2px solid rgba(white, 0.6);
                        outline: none;
                    }
                }
                i {
                    position: absolute;
                    top: 5px;
                    left: -30px;
                    transition: all 0.1s;
                }
            }
        }
        &.light {
            .content-header {
                a.brand {
                    img.logo-header {
                        opacity: 0;
                    }
                    img.logo-header-white {
                        opacity: 1;
                    }
                }
                &.min-header {
                    background-color: #4080ff;
                }
                .search-container {
                    .main-form-search {
                        input[type="text"] {
                            color: white;
                            border-bottom: 2px solid rgba(white, 0.6);
                        }
                    }
                    i {
                        color: white;
                    }
                }
                nav.nav-menu {
                    >ul {
                        border-bottom: 1px solid rgba(white, 0.6);
                        >li {
                            padding: 10px;
                            transition: all 0.1s;
                            &,
                            a {
                                color: white;
                            }
                            ul {
                                background: white;
                                li {
                                    &,
                                    a {
                                        color: #4080ff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.dark {
            .content-header {
                a.brand {
                    img.logo-header {
                        opacity: 1;
                    }
                    img.logo-header-white {
                        opacity: 0;
                    }
                }
                &.min-header {
                    background-color: #fff;
                }
                nav.nav-menu {
                    >ul {
                        border-bottom: 1px solid #9c9c9c;
                        >li {
                            &,
                            a {
                                color: #4080ff;
                            }
                            ul {
                                background: #4080ff;
                                li {
                                    &,
                                    a {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                .search-container {
                    i {
                        color: #4080ff;
                    }
                    .main-form-search {
                        input[type="text"] {
                            color: rgba(#4080ff, 0.6);
                            border-bottom: 2px solid rgba(#4080ff, 0.6);
                        }
                    }
                }
            }
        }
    }
}