.search-title {
    font-family: "Raleway";
    color: #4080ff;
}

.search-page {
    padding-bottom: 120px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Raleway";

    .item {
        width: 30%;
        height: 300px;
        margin: 10px;
        position: relative;
        background-size: cover;
        transition: all 0.3s;
        background-position: center;
        box-shadow: 0px 0px 10px -5px black;
        text-decoration: none;

        .info {
            width: calc(100% - 20px);
            height: calc(250px - 20px);
            display: flex;
            align-items: flex-end;
            padding: 10px;
            position: relative;
            background-position-y: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: linear-gradient(transparent 20%, #4080ff);
            transition: all 0.3s;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                background-image: linear-gradient(transparent 20%, #4080ff);
            }

            .date {
                text-transform: capitalize;
                font-size: 12px;
                color: white;
                margin-bottom: 5px;
            }

            .related-title {
                color: white;
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 10px;
            }
        }

        .leer-mas {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 10px;
            height: 50px;
            width: calc(100% - 20px);
            background: white;
            position: absolute;
            bottom: 0;
            right: 0;
            text-decoration: none;

            span {
                color: black;
                font-size: 10px;
                font-family: "Raleway";
                font-weight: 900;
                text-align: center;
                letter-spacing: 1px;
                transition: all 0.5s;
                margin-right: 15px;
            }

            div {
                img {
                    width: 100%;
                    max-width: 80px;
                }
            }
        }

        &:hover {
            .info {
                &:before {
                    opacity: 1;
                }
            }
        }

        &:before {
            top: 0;
            left: 0;
            position: absolute;
            content: "";
            width: calc(100% - 20px);
            height: calc(250px - 20px);
            padding: 10px;
            background-position-y: 100%;
            opacity: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: linear-gradient(transparent 20%, #f16418);
            transition: all 0.4s;
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .info {
                background-position-y: 300px;
            }

            .leer-mas {
                span {
                    color: #4080ff;
                }
            }
        }
    }
}



@media screen and (max-width: 767px) {


    .card-container {
        .item {
            width: 100%;
            margin: 10px 0;
        }
    }


}