.swiper-container {
    &.home-slider {
        height: 100vh;
    }
    width: 100%;
    padding: 0;
    .swiper-wrapper {
        padding: 0;
        .swiper-slide {
            position: relative;
            overflow: hidden;
            .media {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 100%;
                }
            }
        }
    }
}

.podemos-slider {
    .swiper-slide {
        .content {
            .title-slider {
                padding: 5px 13px;
                &:before {
                    position: absolute;
                    content: "";
                    width: 80px;
                    height: 4px;
                    left: 10px;
                    top: calc(100% + 10px);
                    background-color: #fff;
                }
            }
            .small-title-slider{
                margin-left: 15px;
                margin-bottom: 20px;
            }
            .desc{
                margin: 40px 0 25px 15px;
            }
        }
    }
}

.competencias-slider {
    width: 100%;
    .swiper-slide {
        .content {
            align-items: center;
            .colmn {
                &:nth-child(1) {
                    width: 40.5%;
                    .content {
                        .video {
                            width: 100%;
                        }
                    }
                }
                &:nth-child(2) {
                    width: 59.5%;
                    .content {
                        padding: 10px 60px;
                        .small-title-slider{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .swiper-button-prev {
        img {
            margin-left: -2px;
        }
    }
    .swiper-button-next {
        img {
            margin-right: -2px;
        }
    }
    .row {
        display: block;
        width: 100%;
        margin: 40px 0px;
        .colmn {
            &:nth-child(1) {
                width: 40%;
                height: 30px;
                .amc-slider-button {
                    float: right;
                    margin: 0;
                    margin-left: 30px;
                    margin-top: -15px;
                }
            }
        }
    }
}

.testimonio-slider {
    width: 100%;
    .swiper-wrapper{
        align-items: center;
        .swiper-slide {
            .content {
                align-items: center;
                .colmn {
                    &:nth-child(1) {
                        width: 60%;
                        .content {
                            .cont-info{
                                width: 80%;
                            }
                            padding: 10px 80px;
                            .small-title-slider{
                                display: block;
                                padding: 10px 0px 15px;
                                margin-bottom: 10px;
                            }
                            .title-slider {
                                padding: 0 10px;
                                min-width: unset;
                                left: -10px;
                            }
                            .sub-title {
                                font-family: "Raleway";
                                font-size: 14px;
                                color: white;
                                margin: 15px 3px;
                                border-bottom: 2px solid white;
                                display: inline-block;
                                padding-bottom: 10px;
                            }
                            .desc {
                                color: white;
                                font-style: italic;
                                margin: 0;
                                p{
                                    margin: 0;
                                    margin-bottom: 10px;
                                }
                            }

                            .cont-arrows{
                                display: inline-block;
                            }
                            .cont-slide-item{
                                display: block;
                            }
                        }
                    }
                    &:nth-child(2) {
                        width: 40%;
                        .content {
                            .video {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .swiper-button-prev {
        left: 0;
        margin-right: 23px;
        img {
            margin-left: -2px;
        }
    }
    .swiper-button-next {
        img {
            margin-right: -2px;
        }
    }
    .cont-medalla{
        margin-top: 20px;
        display: flex;
        img{
            width: 100px;
        }
        p{
            font-size: 24px;
            color: white;
            font-family: "Raleway";
            font-weight: 700;
            margin: 0;
            margin-left: 20px;
            margin-top: 30px;
        }
    }
    .row {
        display: block;
        width: 100%;
        padding-left: 80px;
        .colmn {
            &:nth-child(1) {
                width: 40%;
                height: 30px;
                .amc-slider-button {
                    float: left;
                    margin: 0;
                    margin-right: 30px;
                    margin-top: -35px;
                }
            }
        }
    }
}

.amc-slider-button {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    float: left;
    margin: 5px 0px;
    margin-right: 30px;
    margin-left: 2px;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: none;
    img {
        width: 8px;
    }
}

.tabs-container {
    margin-top: 20px;
    .tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid white;
        position: relative;
        width: auto;
        display: inline-block;
        .tab {
            display: inline-block;
            color: white;
            padding: 15px 0px;
            margin-right: 30px;
            font-family: "Raleway";
            font-size: 14px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                border-bottom: 2px solid white;
                font-weight: bold;
            }
        }
    }
}

.panels {
    .panel {
        display: none;
        &.active {
            display: block;
        }
        .title-slider {
            font-size: 45px;
            color: white;
            margin-top: 20px;
            margin-bottom: 30px;
            min-width: 290px;
            padding: 0px 10px;
            font-family: "Raleway";
            font-weight: 900;
            background-color: #ff3140;
            display: inline-block;
            position: relative;
            left: -10px;
            &:before {
                position: absolute;
                content: "";
                width: 80px;
                height: 4px;
                left: 10px;
                top: calc(100% + 10px);
                background-color: #fff;
            }
        }
        .desc {
            color: white;
            p{
                margin: 0;
                margin-bottom: 20px;
                font-size: 11px;
                &:last-of-type{
                    margin-bottom: 10px;
                }
            }
            a.button-link {
                background-color: #fff;
                color: #ff3140;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 8px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
                &:hover {
                    background-color: #ff3140;
                    color: #fff;
                }
            }
        }
    }
}


@media screen and (min-width: 1750px){

    .amc-slider-button {
        width: 40px;
        height: 40px;
        img {
            width: 10px;
        }
    }

    /* Testimonios */

    .testimonio-slider {
        .swiper-wrapper{
            .swiper-slide {
                .content {
                    .colmn {
                        &:nth-child(1) {
                            .content {
                                .title-slider{
                                    font-size: 55px;
                                }
                                .sub-title {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .cont-medalla{
            img{
                width: 130px;
            }
            p{
                margin-top: 40px;
                font-size: 30px;
            }
        }
    }


    /* competencias */

    .competencias-slider {
        .swiper-slide {
            .content {
                .colmn {
                    &:nth-child(2) {
                        .content {
                            width: 60%;
                            max-width: none !important;
                        }
                    }
                }
            }
        }
    }


    /* Tabs */

    .tabs-container {
        .tabs {
            display: flex;
            justify-content: space-between;
            .tab {
                margin-right: 12px;
                font-size: 18px;
            }
        }
    }


    .panels {
        .panel {
            .title-slider {
                font-size: 55px;                
            }
            .desc {
                p{
                    font-size: 16px;
                }
                a.button-link {
                    padding: 10px 20px;
                    font-size: 12px;
                }
            }
        }
    }    

}


@media screen and (min-width: 1024px) and (max-width: 1279px){

    /* Testimonios */

    .testimonio-slider {
        .swiper-wrapper{
            .swiper-slide {
                .content {
                    .colmn {
                        &:nth-child(1) {
                            .content {
                                .cont-info{
                                    width: 80%;
                                }
                                padding: 10px 25px;
                            }
                        }
                    }
                }
            }
        }
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px){

    /* Testimonios */

    .testimonio-slider {
        .swiper-wrapper{
            .swiper-slide {
                .content {
                    .colmn {
                        &:nth-child(1) {
                            width: 50%;
                            .content {
                                .cont-info{
                                    width: 95%;
                                }
                                padding: 10px 15px;
                            }
                        }
                        &:nth-child(2) {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }




    /* competencias */

    .competencias-slider {
        .swiper-slide {
            .content {
                .colmn {
                    &:nth-child(2) {
                        width: 59.5%;
                        .content {
                            padding: 10px 15px;
                        }
                    }
                }
            }
        }
    }


    /* Tabs */

    .tabs-container {
        .tabs {
            .tab {
                margin-right: 8px;
                font-size: 12px;
            }
        }
    }

}



@media screen and (max-width: 767px){


    /* Home */

    .home-slider {
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }


    /* Testimonios */

    .contenedor-general-testimonios{
        padding: 60px 20px;
        width: auto;
    }

    .testimonio-slider {
        .swiper-wrapper{
            .swiper-slide {
                .content {
                    flex-wrap: wrap;
                    .colmn {
                        &:nth-child(1) {
                            width: 100%;
                            .content {
                                .cont-info{
                                    width: 100%;
                                }
                                padding: 0;
                            }
                        }
                        &:nth-child(2) {
                            width: 100%;
                            .content{
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
        .cont-medalla{
            margin-top: 10px;
            margin-bottom: 20px;
            img{
                width: 70px;
            }
            p{
                font-size: 18px;
            }
        }
    }

    /* competencias */

    .contenedor-general-competencias{
        padding: 60px 20px;
        width: auto;    
    }

    .competencias-slider {
        .swiper-slide {
            .content {
                flex-direction: column-reverse;
                .colmn {
                    &:nth-child(1) {
                        width: 100%;
                        margin-top: 20px;
                    }
                    &:nth-child(2) {
                        width: 100%;
                        .content {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .row{
            .colmn {
                &:nth-child(1) {
                    width: 100%;
                }
            }
        }
    }
    
    /* Tabs */

    .tabs-container {
        .tabs {
            .tab {
                margin-right: 4px;
                font-size: 10px;
            }
        }
    }    

}